#span_company{color: palegreen}
/*下拉导航栏*/
.layui-side-menu .layui-side-scroll{
    background: #f39f6a!important;
    background-size: 92% 100%!important;
    border-top: none!important;
    box-sizing: border-box;
}
.layui-card-header{
    background: #f39f6a!important;color: #fff!important;
}
.layui-layout-admin .layui-side{
    background: #f39f6a!important;
    background-size: 100% 100%!important;
}
.layui-nav-itemed>.layui-nav-child{
    background-color: #f38e4e!important;
}
.layui-layout-admin .layui-logo {
    background: #f39f6a!important;
    border: none!important;
    border-bottom: none!important;
}
/*下拉导航条滑过*/
.layui-nav-tree .layui-nav-bar{
    background: #f9cf68!important;
}
/*导航背景*/
.layui-layout-admin .layui-header{background:#f39f6a!important;}
.layui-layout-admin .layui-side a{color: #fff}
a cite{color: #fff}
.layui-side-menu .layui-nav .layui-nav-item .layui-icon{color: #fff}
body .layui-layout-admin .layui-body{background-image: none;background: #2f3b52}
/*body .layui-card{background: #2f3b52;color: #fff}*/
body .layui-card a{color: #fff}
.layui-layout-admin .layui-header a:hover{color: #fff}
.layui-layout-admin .layui-header a, .layui-layout-admin .layui-header a cite {color: #fff!important;}
/*语言选择、管理员三角号*/
.layui-layout-admin .layui-header .layui-nav .layui-nav-more{
    border-top-color: #fff!important;
}
.layui-layout-admin .layui-header .layui-layout-right .layui-nav-child{
    background:#f39f6a!important;
}
.layui-header .layui-nav-child a{
    color: #fff!important;
    background: #f39f6a;!important
}
.layui-header .layui-nav-child a:hover{
    color: #fff!important;
    background: #f9cf68;!important
}
/*下拉导航条颜色背景*/
.layui-nav-child dd {
    background: transparent!important;
}
.layui-nav-child dd:hover{
    background: transparent!important;
}

/*背景图片*/
body .layui-layout-admin .layui-body{
    background-image:url("/static/img/indexcss/index10-body-bg.png")!important;
    background-size: 101% 100%;
    background-repeat: no-repeat;
    background-position:-15px;
}
/*列表导航背景图片*/
.layui-nav-child dd:hover{
    background: #f39f6a no-repeat!important;
    background-size: 100% 100%!important;
}
body .layui-this a{
    background: #f9cf68!important;
    background-position: center!important;
    background-size: 100% 100%!important;
    background-color:#7ca887!important;
}
.layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a, .layui-nav-tree .layui-this, .layui-nav-tree .layui-this>a, .layui-nav-tree .layui-this>a:hover{
    background:#f9cf68 no-repeat!important;
    background-size: 100% 100%!important;
}
.layui-nav .layui-nav-child dd.layui-this a, .layui-nav-child dd.layui-this{
}
/*导航背景、导航字体颜色*/
.layui-tab-title{
    background: #f9cf68!important;
    color: #fff!important;
    /*border: 1px solid #ec6051;*/
    /*border-radius: 10px;*/
    width: 94%;
    margin: 0 auto;
    /*padding: 5px 20px;*/
    padding: 0px 20px;
    cursor: pointer;
}
/*内容导航背景*/
body .layui-this{
    /*background:#f39f6a;*/
    /*border: none;*/
    color: #fff!important;
    /*border-radius: 8px;*/
}
.layui-tab-brief>.layui-tab-more li.layui-this:after, .layui-tab-brief>.layui-tab-title .layui-this:after{
    /*border-bottom: none!important;*/
    border-color: #f39f6a!important;
}
.layui-tab-brief>.layui-tab-more li.layui-this:after, .layui-tab-brief>.layui-tab-title .layui-this:after{
    /*border-bottom: none!important;*/
}

.flysand-green-vertical-line{
    background: #ec6051!important;
}
/*______index10套主题___________________________________________________________________________________________________________________*/
/*列表显示*/
.flysand-container-horizontal{
background-image:none !important;
background: #f9cf68!important;
color: #000!important;
border: 1px solid #ec6051;
}
.flysand-ul li{
background-image:none !important;
background: #f9cf68!important;
color: #000!important;
border: 1px solid #ec6051;
}
ul.ztree{
background-image:none !important;
background: #f9cf68!important;
color: #000!important;
border: 1px solid #ec6051;
}
.ztree li a{
color: #000!important;
}
.ztree li a.curSelectedNode{
background:#ec6051!important;
color: #000!important;
}
.ztree li a:hover{
background:#f39f6a!important;
color: #000!important;
}
/*图形化显示*/
.flysand-container,.container{
background-image:none !important;
background: #f9cf68!important;
color: #000!important;
border: 1px solid #ec6051;
}
.ztree li a{
background: none!important;
    width: 240px!important;
}
.layui-btn{
background: #f39f6a!important;
color: #fff!important;
}
.layui-table thead{
background-image:none !important;
background: #f9cf68!important;
color: #000!important;
border: 1px solid #ec6051;
}
.layui-form-label{
background: #f9cf68!important;
color: #000!important;
}
/*图形化显示————————搜索框*/
.input-device{
background:transparent!important;
padding: 2px 4px;
margin-top: 3px!important;
color: #000!important;
}
.flysand-div-inline2{
background: #f9cf68!important;
padding:0 12px;
border-radius: 20px;
border: 1px solid #ec6051!important;

}

.flysand-div-inline2-img{
display: block;
background: url("/static/img/indexcss/index7-ss-bnt.png")no-repeat!important;

}

.input-device-bnt{
display: none!important;
height: 24px;
width: 40px;
background-size: 100% 100%;
margin-top: 5px;
margin-left: 10px;
cursor: pointer;
color: #000;
line-height: 24px;
text-align: center;
font-size: 10px;
border: 1px solid #ec6051!important;
}

/*设备管理*/
.layui-btn-primary{
color: #000!important;
}
.layui-table-tool-self .layui-icon{
color: #f36758;
}
/*组态列表*/
/*开关*/
.layui-form-onswitch{
background: #f9cf68!important;
border-color:#ec6051!important;
}
/*分页*/
.layui-laypage .layui-laypage-curr .layui-laypage-em{
background: #f9cf68!important;
}
/*中型管理按钮颜色*/
button.btn.btn-primary:hover, button.btn.btn-primary:focus, button.btn.btn-primary.focus, button.btn.btn-primary:active, button.btn.btn-primary.active {
background: #f9cf68!important;
border-color: #ec6051!important;
}
button.btn.btn-primary{
background: #f9cf68!important;
border-color: #ec6051!important;
}
/*全选按钮*/
.layui-form-checked[lay-skin=primary] i{
background: #f9cf68!important;
border-color: #ec6051!important;
}

/*表单详情*/
.layui-table tbody{
background: none!important;
}
.fa {
    color:#fff!important;
}
/*首页css修改*/

.layui-card-header span{
    color: #000!important;
}
.iconfont {

    color: #fff!important;
}
html body .layui-side-scroll .layui-nav-item dd a{
    padding-left: 44px!important;
}

.layui-side-menu .layui-nav .layui-nav-item a {
    padding-left: 25px;
}

.flysand-table-cell-1, .flysand-table-cell-2, .flysand-table-cell-3, .flysand-table-cell-4, .flysand-table-cell-5, .flysand-table-cell-6 {
    color: #000!important;
}
.flysand-container{
    height: 45px;
}
/*首页背景颜色修改，字体颜色修改*/
#help{
    background: rgba(255,255,255,.3)!important;
    color: #000!important;
}
.layui-col-md4 .layui-card-body{
    background: rgba(255,255,255,.3)!important;
    color: #000!important;
}
.layui-col-md4 .layui-table td{
    color: #000!important;
}
/*列表显示*/
#deviceName{
    line-height: 46px!important;
    color: #000!important;
}
#deviceNumber{
    line-height: 49px!important;
    background: transparent!important;
    color: #000!important;
    border: none!important;
}
.layui-laydate .layui-this{
    background: #ec6051!important;
}
