<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <title>人员操作记录</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/versionLayer.css" media="all">
</head>
<body>
<table class="layui-hide" id="device" lay-filter="device"></table>
<script type="text/html" id="toolbar1">
    <div class="layui-inline bg-transparent" id="addProjectDiv">
        <button id="add" class="layui-btn layui-btn-primary layui-btn-radius"
                lay-event="add"> 添加记录
        </button>
    </div>
</script>
<script type="text/html" id="getMsg">
    <button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="see"><i
            class="layui-icon layui-icon-search"></i></button>
    <button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="del"><i
            class="layui-icon layui-icon-delete"></i></button>
</script>


<script th:src="@{/static/js/jquery.min.js?v=2.1.4}"></script>
<script th:src="@{/static/layui/layui.js}" charset="utf-8"></script>
<script th:src="@{/static/i18n/jquery.i18n.properties.js}"></script>
<script th:src="@{/static/js/common.js}" charset="utf-8"></script>
<script th:src="@{/static/js/versionLayer.js}" charset="utf-8"></script>
<script>
    var table,form;
    layui.use('table', function () {
        table = layui.table;
        table.render({
            elem: '#device'
            , url: '/newFlowerRoom/getInfoList'
            , toolbar: '#toolbar1'
            , title: '人员操作记录'
            , cols: [
                [
                    {
                        field: 'id',
                        title: 'ID',
                        width: 60,
                        sort: true,
                        unresize: true, align: 'center'
                    }
                    ,
                    {field: 'classTime', title: "课程时间", align: 'center'}
                    , {field: 'userName', title: "讲师姓名", align: 'center'}
                    , {field: 'projectName', title: "课程名称", align: 'center'}
                    ,
                    {
                        title: "操作",
                        toolbar: '#getMsg',
                        align: 'center'
                    }
                ]
            ],
            page: true,
            request: {limitName: 'limit'},
            response: {
                statusCode: 'success'
            },
            parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                return {
                    "code": res.state, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": res.datas,//解析数据列表
                };
            }
        });
        //头工具栏事件
        table.on('toolbar(device)', function (obj) {
            //var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'add':
                    layer.open({
                        type: 2,
                        title: $.i18n.prop('addUser'),
                        btn: [$.i18n.prop('save'), $.i18n.prop('cancel')],
                        closeBtn: true,
                        area: ['600px', '500px'],
                        shade: 0.2,
                        // id: 'LAY_onLineCtrl',
                        btnAlign: 'c',
                        yes: function (index, layero) {
                            var body = layer.getChildFrame('body', index);
                            var classTime = body.find('input[name="classTime"]').val();
                            var userName = body.find('input[name="userName"]').val();
                            var projectName = body.find('input[name="projectName"]').val();

                            if (classTime ==""||classTime==null) {
                                layer.msg('请选择课程时间！');
                                return;
                            } else if (userName==""||userName==null) {
                                layer.msg('请输入讲师姓名！');
                                return;
                            } else if (projectName ==""||projectName==null) {
                                layer.msg('请输入科目名称！');
                                return;
                            }

                            $.ajax({
                                type: "post",
                                url: "/newFlowerRoom/saveOperationRecord",
                                data: {
                                    classTime: classTime,
                                    userName: userName,
                                    projectName: projectName
                                },
                                success: function (reg) {
                                    if (reg.state == 'success') {
                                        layer.msg($.i18n.prop("创建成功"));
                                        setTimeout(function () {
                                            parent.layer.close(index);
                                            $.ajax({
                                                type: "post",
                                                url: "/newFlowerRoom/getOperationRecord",
                                                success: function (reg) {
                                                    if (reg.state == 'success') {
                                                        location.reload();
                                                    } else {
                                                        console.log("error");
                                                    }
                                                }
                                            })
                                        }, 2000)
                                    }
                                    else {
                                        layer.msg($.i18n.prop(result.msg), {icon: 2});
                                    }
                                }
                            })
                        },
                        moveType: 1,
                        content: '/newFlowerRoom/addPerson',
                        // content:"/newFlowerRoom/list",
                        success:

                            function (layero, index) {

                            }
                    });
            }
            ;
        });

        //监听行工具事件
        table.on('tool(device)', function (obj) {
            var data = obj.data;
            if (obj.event === 'see') {
                layer.open({
                    type: 2,
                    title: $.i18n.prop('addUser'),
                    btn: [$.i18n.prop('save'), $.i18n.prop('cancel')],
                    closeBtn: true,
                    area: ['600px', '500px'],
                    btnAlign: 'c',
                    yes: function (index, layero) {
                        var body = layer.getChildFrame('body', index);
                        var classTime = body.find('input[name="classTime"]').val();
                        var userName = body.find('input[name="userName"]').val();
                        var projectName = body.find('input[name="projectName"]').val();

                        if (classTime ==""||classTime==null) {
                            layer.msg('请选择课程时间！');
                            return;
                        } else if (userName==""||userName==null) {
                            layer.msg('请输入讲师姓名！');
                            return;
                        } else if (projectName ==""||projectName==null) {
                            layer.msg('请输入科目名称！');
                            return;
                        }

                        $.ajax({
                            type: "post",
                            url: "/newFlowerRoom/saveOperationRecord",
                            data: {
                                id:data.id,
                                classTime: classTime,
                                userName: userName,
                                projectName: projectName
                            },
                            success: function (reg) {
                                if (reg.state == 'success') {
                                    layer.msg($.i18n.prop("创建成功"));
                                    setTimeout(function () {
                                        parent.layer.close(index);
                                        $.ajax({
                                            type: "post",
                                            url: "/newFlowerRoom/getOperationRecord",
                                            success: function (reg) {
                                                if (reg.state == 'success') {

                                                } else {
                                                    console.log("error");
                                                }
                                            }
                                        })
                                    }, 2000)
                                }
                                else {
                                    layer.msg($.i18n.prop(result.msg), {icon: 2});
                                }
                            }
                        })
                    },
                    content: '/newFlowerRoom/toUpdateOperationRecord?id=' + data.id,
                    end: function () {
                        location.reload();
                    }
                })
            } if (obj.event === 'del') {
                layer.confirm($.i18n.prop('confirmDelete'),
                    {
                        btn: [$.i18n.prop('yes'), $.i18n.prop('no')],
                        title: $.i18n.prop('info')
                    }, function (index) {
                        layer.load(2);
                        $.ajax({
                            type:"post",
                            url:"/newFlowerRoom/deleteOperationRecord",
                            data:{
                                id:data.id
                            },
                            error: function (data, type, err) {
                                layer.closeAll('loading');
                                layer.msg($.i18n.prop('fail'), {
                                    offset: '6px', icon: 2
                                });
                            },
                            success: function (data) {
                                layer.closeAll('loading');
                                if ('success' == data.state) {
                                    $('.layui-laypage-btn').click();
                                    layer.msg($.i18n.prop(data.msg), {icon: 1})
                                } else {
                                    layer.msg($.i18n.prop(data.msg), {icon: 2})
                                }
                            }
                        })
                    });
            }
        });

    });

</script>
<style>

    .layui-table-view .layui-table {
        width: 100%;

    }

    .layui-table tr {
        width: 100%;
    }

    .layui-table thead tr, .layui-table-header thead {
        width: 100%;
    }

    .abc {
        float: right;
        margin-bottom:5px;
    }
</style>
</body>
</html>