<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于我们</title>
    <link rel="stylesheet" href="/static/css/aboutUs/iconfont.css">
    <link rel="stylesheet" href="/static/css/aboutUs/business-solutions.css">
    <link rel="stylesheet" href="/static/css/aboutUs/loginandregister.css">
    <link class="styles" rel="stylesheet" href="/static/css/aboutUs/aboutUs.css">
    <link rel="stylesheet" href="/static/css/aboutUs/NewFooter.css">
</head>
<body style="overflow-x:hidden">
<section id="one" class="banner"></section>
<section id="two" class="cpy_brief clearfix">
    <div class="introduce_title">
        <p style="top: 0px;opacity: 1;">公司简介</p>
        <p style="bottom: 0px;opacity: 1;">
            威海精讯畅通电子科技有限公司总部位于山东威海，旗下拥有技术研发中心（济南），经营范围遍布全球各地。主营各类大气环境
            <br>
            监测、工业气体监测、农业环境监测及水质监测等工业传感器及传输设备，同时提供以通用云平台——精讯云为核心的一体化物联
            <br>
            网解决方案。
            <br>
            精讯物联网生态：连接物联网产品与通用性物联网Saas云服务平台“精讯云”，将所有的物联网传感器和通信产品做成自产自研或
            <br>
            者强供应体系
        </p>
    </div>
    <div class="introduce_title">
        <p style="top: 0px;opacity: 1;">核心业务</p>
        <p style="bottom: 0px;opacity: 1;">
            公司秉承致力于“打造有影响力的传感器供应商与全面的解决方案提供商”。公司产品的受众客户为各地从事物联网环境检测行业
            <br>
            的客户与承接工程师；我们想要解决的是传统的物联网检测类项目产品不统一、存在兼容性问题等痛点。
        </p>
    </div>
    <div>
        <div class="introduce_box experience" style="transform: unset;">
            <p style="margin-left: -253px;margin-top: -20px;">广泛性</p>
            <p style="margin-left: -561px;">我们推出的JXBS-3001系列产品是基于485或者模拟量接口
                <br>
                的各类型传感器产品。</p>
        </div>
        <div class="introduce_box Collaborator" style="transform: unset; height: 64px;">
            <p style="margin-right: -261px;margin-top: -20px;">安全性</p>
            <p style="margin-right: -574px;">我们推出的JXBS-4001系列产品是用于工业矿用防爆型各
                <br>
                类传感器。</p>
        </div>
        <div class="introduce_box technology" style="transform: unset; margin-top: -51px">
            <p style="margin-left: -253px;margin-top: -20px;">独立性</p>
            <p style="margin-left: -561px;">我们推出的JXBS-6001系列产品是独创的传感+感知二合一
                <br>
                的网络型传感器，可以实现一台设备是一个独立网络终端。</p>
        </div>
        <div class="introduce_box last" style="transform: unset;margin-top: -51px">
            <p style="margin-right: -261px;margin-top: -20px;">节能性</p>
            <p style="margin-right: -574px;">我们推出的JXLS-3001系列产品是独创的基于NB的低功耗
                <br>
                传感器，可以实现单台设备一节电池工作三年免维护。</p>
        </div>
    </div>
</section>
<section id="three" class="cpy_center clearfix">
    <div class="center_top clearfix">
        <div class="Two_img" style="right: 0px;opacity: 1;margin-top: 107px;margin-left: 104px;">
            <img src="/static/img/aboutUs/1.png">
        </div>
        <div class="Two_title" style="left: 0px;opacity: 1;margin-left: -105px;">
            <p>企业愿景</p>
            <p>
                物联网监测类项目具有分散性，维护复杂。传感设备与通信设备不同厂商提供，相互对接容易产生问题，并且不好排查，不好定型，不好解决。工程商要耗费大量精力吃透两种产品并努力去完成对接，效果不尽如人意。平台端工作量大，包含后台，前端，WEB，APP，UI，美工，运维等方方面面，至少要10人左右的团队才可以完成初级的开发，想要维持平台的稳定需要大量的精力，并且想要拔高需要更大的团队。
                我们力争于从感知到传输到数据三个层均提供一站式服务，打造闭环的物联网检测产品圈。研发的事情交给精讯畅通去做，客户只需要负责实施即可。</p>
        </div>
    </div>
    <div class="center_top clearfix">
        <div class="One_title" style="left: -35px;opacity: 1;">
            <p>技术团队</p>
            <p>精讯畅通团队前身是哈尔滨工业大学通信工程实验室的创客团队，传承C9级别高校哈工大的校训“规格严格功夫到家”和光荣的军工历史，力争让每一件产品都有着军工级别的品质。
                公司高度重视人才战略，全部员工均为大专以上学历，50%以上的员工具有本科学历。产品坚持自主产权，获得了众多的专利和著作权证书。
                公司非常重视供应链的管理，每一件产品都是工程师严谨设计并拥有知识产权的产品。产品ic均是选择知名国际厂商产品，保证做到质量与可靠性第一的原则</p>
        </div>
        <div class="One_img" style="right: 50px;opacity: 1;margin-top: 84px;">
            <img src="/static/img/aboutUs/2.png">
        </div>
    </div>
    <div class="center_top clearfix">
        <div class="Two_img" style="right: 0px;opacity: 1;margin-top: 107px;margin-left: 100px;">
            <img src="/static/img/aboutUs/3.png">
        </div>
        <div class="Two_title" style="left: 150px;opacity: 1;margin-left: -182px;margin-top: 64px;">
            <p>销售团队</p>
            <p>
                精讯畅通最为注重客户体验，我们一个新的设备商不仅仅提供的是设备，还需要提供服务，好的产品与好的服务都是公司的基石所在。我们配备了一套专业的售前与售后团队，力争为每一个客户提供一对一的服务；同时我们开放投诉通道，每一个投诉我们都将在工作日10分钟内给出回复。
                我们力争让客户在采购工业品的同时享受消费品级别的服务和便捷。
            </p>
        </div>
    </div>
</section>
<section id="four" class="finger" style="background-size: 45vw;margin-left: -100px;">
    <p style="top: 45px;opacity: 1;">企业文化</p>
    <p style="bottom: -60px;opacity: 1;">
        打造有影响力的工业物联网监测类产品与团队”是公司的宗旨。
        有影响力的产品指的是我们力争将市场上没有的产品推入市场，将市场上有的产品提供更低的价格和更多样的选择性。
        有影响力的团队指的是，我们将消费品级别的服务带入物联网市场，力争每一个客户都能享受到100%的一对一的服务，让工业品的采购也变得舒适与顺心。
        作为一个年轻的团队，我们希望为市场带去更多的活力与不同，我们希望给市场带来的是影响力！
    </p>
</section>
<section id="five">
    <div class="introduce_title" style="text-align: center;font-size: xx-large;">
        <p>我们的合作伙伴</p>
    </div>
    <div class="down" style="margin-top:60px;"></div>
</section>
<section id="contact" class="container-fluid">
    <div class="introduce_title">
        <p>联系我们</p>
    </div>
    <!--<div class="contact_header">
        <h2>联系我们</h2>
    </div>-->
    <div class="contact_content row">
        <div class="contact_us col-lg-6 col-sm-12">
            <div class="contact_info">
                <!--姓名-->
                <label for="contact_name">
                    <i class="iconfont icon-person"></i>
                    <input type="text" id="contact_name" class="input_content" placeholder="姓名">
                </label>
                <p class="name_err err"></p>

                <!--联系电话-->
                <label for="contact_number">
                    <i class="iconfont icon-call"></i>
                    <input type="text" id="contact_number" class="input_content" placeholder="电话">
                </label>
                <p class="num_err err"></p>

                <!--联系邮件-->
                <label for="contact_email">
                    <i class="iconfont icon-email"></i>
                    <input type="text" id="contact_email" class="input_content" placeholder="电子邮件">
                </label>
                <p class="email_err err"></p>

                <!--发送信息-->
                <label for="contactMsg" class="contactMsg">
                    <i class="iconfont icon-chat"></i>
                    <textarea id="contactMsg" wrap="soft" maxlength="200" placeholder="信息"></textarea>
                </label>
                <input type="submit" id="submit" class="btn btn-primary btn-lg" value="发送信息">
            </div>
        </div>
        <div class="contact_address col-lg-6 col-sm-12">
            <div class="address_container">
                <div class="cn_address">
                    <i class="iconfont icon-dingwei"></i>
                    <div class="info_text">
                        <p>中国山东省威海市精讯畅通电子科技有限公司</p>
                    </div>
                </div>
                <div class="aus_address">
                    <i class="iconfont icon-fuwuqi"></i>
                    <div class="info_text">
                        <p>威海市环翠区高技区鞍山路52-1号</p>
                    </div>
                </div>
                <div class="e_number">
                    <i class="iconfont icon-call"></i>
                    <div class="info_text">
                        <p>400-805-1961</p>
                    </div>
                </div>
                <div class="e_email">
                    <i class="iconfont icon-email"></i>
                    <div class="info_text">
                        <p style="margin-top: -6px">sales@jxctdzkj.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="tail clearfix">
    <div class="tail_body clearfix">
        <div class="tail_box clearfix" style="  margin-left: -57px;">
            <div class="box_title">产品中心</div>
            <div class="box_going clearfix">
                <a href="http://www.jxctdzkj.com/product/product_57_1.html"><span>>>负氧离子传感器</span></a>
                <a href="http://www.jxctdzkj.com/product/product_54_1.html"><span>>>气体模组</span></a>
                <a href="http://www.jxctdzkj.com/product/product_32_1.html"><span>>>数采与通信</span></a>
                <a href="http://www.jxctdzkj.com/product/product_6_1.html"><span>>>环保类设备</span></a>
            </div>
            <div class="box_going clearfix" style="margin-left: 80px;">
                <a href="http://www.jxctdzkj.com/product/product_56_1.html"><span>>>控制盒</span></a>
                <a href="http://www.jxctdzkj.com/product/product_53_1.html"><span>>>压力表/流量计产品</span></a>
                <a href="http://www.jxctdzkj.com/product/product_33_1.html"><span>>>便携式检测仪</span></a>
                <a href="http://www.jxctdzkj.com/product/product_7_1.html"><span>>>字符叠加器</span></a>
            </div>
            <div class="box_going clearfix" style="margin-left: 80px;">
                <a href="http://www.jxctdzkj.com/product/product_55_1.html"><span>>>水质传感器</span></a>
                <a href="http://www.jxctdzkj.com/product/product_30_1.html"><span>>>传感器产品</span></a>
                <a href="http://www.jxctdzkj.com/product/product_5_1.html"><span>>>固定式报警器</span></a>
            </div>
        </div>
        <div class="tail_box clearfix">
            <div class="box_title">解决方案</div>
            <div class="box_going clearfix">
                <a href="http://www.jxctdzkj.com/img/img_44_1.html"><span>>>智慧城市解决方案</span></a>
                <a href="http://www.jxctdzkj.com/img/img_45_1.html"><span>>>智慧农业解决方案</span></a>
                <a href="http://www.jxctdzkj.com/img/img_46_1.html"><span>>>工业环境解决方案</span></a>
            </div>
        </div>
        <div class="tail_box clearfix">
            <div class="box_title">新闻中心</div>
            <div class="box_going clearfix">
                <a href="http://www.jxctdzkj.com/news/news_21_1.html"><span>>>公司新闻</span></a>
                <a href="http://www.jxctdzkj.com/news/news_22_1.html"><span>>>行业新闻</span></a>
            </div>
        </div>
        <div class="tail_box clearfix">
            <div class="box_title">联系我们</div>
            <div class="box_going clearfix">
                <a href="http://www.jxctdzkj.com/about1/about49.html"><span>>>购买咨询</span></a>
                <a href="http://www.jxctdzkj.com/about1/about47.html"><span>>>售后支持</span></a>
                <a href="http://www.jxctdzkj.com/message/"><span>>>在线留言</span></a>
            </div>
        </div>
        <div class="tail_box no-right clearfix">
            <div class="box_title">关注我们</div>
            <div class="box_going clearfix">
                <img src="/static/img/aboutUs/erweima.png">
            </div>
        </div>
        <div class="copyrin">
            <a href="http://www.jxctdzkj.com" target="_blank">威海精讯畅通电子科技有限公司 版权所有 2015-2018 鲁ICP备15041757号 264200</a>
        </div>
    </div>
</div>
<script src="/static/js/jquery.min.js"></script>
<script th:src="@{/static/js/jquery.min.js?v=2.1.4}"></script>
<script th:src="@{/static/i18n/jquery.i18n.properties.js}"></script>
<script src="/static/jQuery/jquery-3.2.1.js"></script>
<script src="/static/layui/layui.all.js" charset="UTF-8"></script>
<script>
    $(function () {
        $("#submit").click(function () {
            var reg=/^\w+[@]\w+[.][\w.]+$/;
            var myreg=/^[1][3,4,5,7,8][0-9]{9}$/;
            var name = $('#contact_name').val();
            var tel = $('#contact_number').val();
            var email = $('#contact_email').val();
            var message = $('#contactMsg').val();
            if (!isNull(name)) {
                layer.msg('请输入您的姓名！');
            } else if (!isNull(tel)) {
                layer.msg('请输入您的电话！');
            } else if (!isNull(email)) {
                layer.msg('请输入您的邮箱！');
            } else if (!isNull(message)) {
                layer.msg('请填写留言信息！');
            }else if (!myreg.exec(tel)) {
                layer.msg('您输入的手机号码不正确！');
            }else if (!reg.exec(email)) {
                layer.msg('您输入的邮箱格式不正确！');
            }else {
                var data = {};
                data.name = name;
                data.tel = tel;
                data.email = email;
                data.message = message;
                $.ajax({
                    url: "/aboutUs/addInfo",
                    data: data,
                    dataType: "json",
                    type: "post",
                    success: function (Datajson) {
                        if (Datajson.rel == "fail") {
                            layer.msg('发送失败');
                        } else {
                            layer.msg('感谢您的留言，我们将会尽快安排工作人员与您联系！');
                            setTimeout(function(){
                                document.location.reload();
                            }, 3000);
                        }
                    },
                    error: function (Datajson) {
                        layer.msg('发送失败');
                    }
                })
            }
        })
        function isNull(str) {
            if (str == null || str == undefined || str == "" || str == " ") {
                return false;
            } else {
                return true;
            }
        }
    })
</script>
</body>
</html>