<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link class="styles" rel="stylesheet" href="/static/css/indexCss/indexsubject1.css">
    <link rel="stylesheet" href="../../../static/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
<table class="layui-hide" id="table" lay-filter="table"></table>
<script type="text/html" id="toolbar1">
    <div class="layui-inline bg-transparent" id="addTaskDiv">
        <button id="add" class="layui-btn layui-btn-primary layui-btn-radius"
                lay-event="add"> 新增传感器
        </button>
    </div>
    <div class="layui-inline abc">
        <button class="layui-btn " lay-event="search">
            <i class="layui-icon layui-icon-search "></i>
        </button>
    </div>
    <div class="layui-inline abc">
        <input type="text" class="layui-input" name="sensorName" id="sensorName" autocomplete="off" style="width:182px;"
               placeholder="名称">
    </div>
</script>

<script type="text/html" id="barDemo">
<!--    <button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="edit" title="修改信息"><i-->
<!--            class="layui-icon"></i></button>-->
<!--    &lt;!&ndash;    多级智慧农业相关角色才能访问&ndash;&gt;-->
<!--    {{# if(parent.userData.user.role ==16 || parent.userData.user.role ==17){ }}-->
<!--    <button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="set" title="地区信息"><i-->
<!--            class="layui-icon layui-icon-set-sm"></i></button>-->
<!--    {{# } }}-->
<!--    &lt;!&ndash;    大棚管理相关角色才能访问&ndash;&gt;-->
<!--    {{# if(parent.userData.user.role ==27 || parent.userData.user.role ==28){ }}-->
<!--    <button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="status" title="修改状态"><i-->
<!--            class="layui-icon layui-icon-chart"></i></button>-->
<!--    {{# } }}-->
<!--    <button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="show" title="绑定设备"><i-->
<!--            class="layui-icon layui-icon-component"></i></button>-->
<!--    <button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="del" title="删除地区"><i-->
<!--            class="layui-icon"></i></button>-->
</script>
<script th:src="@{/static/js/jquery.min.js?v=2.1.4}"></script>
<script th:src="@{/static/layui/layui.js}" charset="utf-8"></script>
<script th:src="@{/static/js/jquery.nicescroll.js}" charset="utf-8"></script>
<script th:src="@{/static/i18n/jquery.i18n.properties.js}"></script>
<script th:src="@{/static/js/common.js}" charset="utf-8"></script>
<style>
    .abc {
        float: right;
    }

    body::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }

    .layui-table-tool .layui-inline {
        background-color: #eaeaea;
    }
</style>
</body>
</html>
<script>
    let table, form;
    layui.use('table', function () {
        let tableData = [
            //id
            {
                field: 'id', title: 'ID', width: 80, //fixed: 'left', unresize: true,
                sort: true
            },
            //数据显示栏
            {field: 'name', title: "传感器名称", align: 'center'},
            {field: 'unit', title: "单位", align: 'center'},
            {field: 'coeffcient', title: "系数", align: 'center'},
            //操作栏
            // {field: 'createTime', title: "创建时间", width: 160, align: 'center'},
            // {
            //     field: '',
            //     title: $.i18n.prop('operation'),
            //     toolbar: '#barDemo',
            //     width: 350,
            //     align: 'center'
            // }
        ];

        table = layui.table;
        form = layui.form;
        //对上面表格进行重载
        table.render({
            elem: '#table'
            , url: '../raise/getSensorList'
            , toolbar: '#toolbar1'
            , title: ''
            , cols: [tableData]
            , page: true,
            request: {limitName: 'size'},
            response: {
                statusCode: 'success'
            },
            parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                return {
                    "code": res.state, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": res.datas,//解析数据列表
                };
            }
        });

        //头工具栏事件
        table.on('toolbar(table)', function (obj) {
            switch (obj.event) {
                case 'search':
                    doLoginFilter();//登陆状态验证
                    let sensorName = $('#sensorName').val();
                    reloadTable(sensorName);
                    break;
                case 'add':
                    layer.open({
                        type: 2,
                        title: false,
                        closeBtn: true,
                        area: ['450px', '350px'],
                        shade: 0.2,
                        id: 'LAY_addFarm',
                        btnAlign: 'c',
                        moveType: 1,
                        content: '../raise/toAddSensor',
                        success: function (layero, index) {
                            reloadTable();
                        }
                    });
                    break;
            }
        });

        //监听行工具事件
        table.on('tool(table)', function (obj) {
            let data = obj.data;
            if (obj.event === 'edit') {
                layer.open({
                    type: 2,
                    title: false,
                    closeBtn: true,
                    area: ['450px', '480px'],
                    shade: 0.2,
                    id: 'LAY_onLineCtrl',
                    btnAlign: 'c',
                    moveType: 1,
                    content: '../raise/toUpdate?id=' + data.id
                });
            } else if (obj.event === 'show') {
                layer.open({
                    type: 2,
                    title: false,
                    closeBtn: true,
                    area: ['750px', '500px'],
                    shade: 0.2,
                    id: 'LAY_onLineCtrl',
                    btnAlign: 'c',
                    moveType: 1,
                    content: '../newFarmInfo/toBoundDeviceList?id=' + data.id
                });
            } else if (obj.event === 'del') {
                layer.confirm($.i18n.prop('confirmDelete'), {
                    btn: [$.i18n.prop('yes'), $.i18n.prop('no')],
                    title: $.i18n.prop('info')
                }, function (index) {
                    layer.load(2);
                    $.ajax({
                        url: "../newFarmInfo/del",
                        data: {id: data.id},
                        dataType: "json",
                        type: "post",
                        timeout: 30000,
                        error: function (data, type, err) {
                            layer.closeAll('loading');
                            layer.msg($.i18n.prop('fail'), {
                                offset: '6px', icon: 2
                            });
                        },
                        success: function (data) {
                            layer.closeAll('loading');
                            if ('success' == data.state) {
                                $('.layui-laypage-btn').click();
                                layer.msg($.i18n.prop(data.msg), {icon: 1})
                            } else {
                                layer.msg($.i18n.prop(data.msg), {icon: 2})
                            }
                        }
                    });
                });
            } else if (obj.event === 'set') {
                layer.open({
                    type: 2,
                    title: false,
                    closeBtn: true,
                    area: ['450px', '330px'],
                    shade: 0.2,
                    btnAlign: 'c',
                    id: 'LAY_onLineCtrl',
                    moveType: 1,
                    content: '../smartAgriculture/toLandUse?farmId=' + data.id
                });
            } else if (obj.event === 'camera') {
                layer.open({
                    type: 2,
                    title: false,
                    closeBtn: true,
                    area: ['750px', '500px'],
                    shade: 0.2,
                    id: 'LAY_onLineCtrl',
                    btnAlign: 'c',
                    moveType: 1,
                    content: '../newFarmInfo/toBoundCameraList?appId=' + data.id
                });
            } else if (obj.event === 'status') {
                layer.open({
                    type: 2,
                    title: false,
                    closeBtn: true,
                    area: ['400px', '350px'],
                    shade: 0.2,
                    btnAlign: 'c',
                    id: 'LAY_onLineCtrl',
                    moveType: 1,
                    content: '../newFarmInfo/toFarmStatus?id=' + data.id
                });
            } else if (obj.event === 'crop') {
                layer.open({
                    type: 2,
                    title: false,
                    closeBtn: true,
                    area: ['750px', '500px'],
                    shade: 0.2,
                    id: 'LAY_onLineCtrl',
                    btnAlign: 'c',
                    moveType: 1,
                    content: '../newFarmInfo/toBoundCropList?id=' + data.id
                });
            }
        });
    });

    function reloadTable(sensorName) {
        table.reload('table', {
            page: {
                curr: 1 //重新从第 1 页开始
            }
            , where: {
                sensorName: sensorName
            }
        });
        $('#sensorName').val(sensorName);
    }
</script>