*{margin: 0;padding: 0;}

.header{
    width: 100vw;
    height: 7vh;
    border-bottom: 1px solid #365d75;
    background: -webkit-linear-gradient(left,#0a4168,#056d8e);
    background: -o-linear-gradient(left,#0a4168,#056d8e);
    background: -moz-linear-gradient(left,#0a4168,#056d8e);
    background: -mos-linear-gradient(left,#0a4168,#056d8e);
    background: linear-gradient(left,#0a4168,#056d8e);
    color: #fff;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 1vw;
    line-height: 7vh;
}
.nav ul{display: flex;}
.nav ul li{list-style: none;padding: 0 2vw;font-size: 1vw;margin: 0 2vw;}
.nav ul li:hover{border-bottom:3px solid #3699ff;cursor: pointer;}
.user{
    display: flex;
}
.user-pic{
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 1vh;
    margin-right: 1vw;
}
.user-txt{
    font-size: 1vw;
}
.main{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.left-nav{
    width: 13vw;
    height: 100vh;
    background: -webkit-linear-gradient(top,#0a4168,#056d8e);
    background: -o-linear-gradient(top,#0a4168,#056d8e);
    background: -moz-linear-gradient(top,#0a4168,#056d8e);
    background: -mos-linear-gradient(top,#0a4168,#056d8e);
    background: linear-gradient(top,#0a4168,#056d8e);
}

.putin{
    width: 12vw;
    height: 4vh;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    background: -webkit-linear-gradient(top,#fbce8a,#fea877);
    background: -o-linear-gradient(top,#fbce8a,#fea877);
    background: -moz-linear-gradient(top,#fbce8a,#fea877);
    background: -mos-linear-gradient(top,#fbce8a,#fea877);
    background: linear-gradient(top,#fbce8a,#fea877);
    border-radius: 2vh;
    font-size: 0.8vw;
    line-height: 4vh;
    margin-top: 2vh;
    cursor: pointer;
}
.left-nav  ul li{
    width: 13vw;
    height: 6vh;
    line-height: 6vh;
    font-size: 1vw;
    text-align: center;
    color: #fff;
    position: relative;
}
.ac{
    background: rgba(0,0,0,.2)!important;
}
.consult-l{margin-top: 1vh}
.consult-r{margin-top: 1vh}
.left-nav  ul li span{
    display: block;
    width: 18px;
    height: 18px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #fff;
    background: red;
    border-radius: 10px;
    position: absolute;
    top: 1.5vh;
    right: 2vw;
}
.left-nav  ul li:hover{
    background: rgba(0,0,0,.2);
    cursor: pointer;
}
.left-nav  ul{
    margin-top:4vh;
    width: 14vw;
    height: 80vh;

}
.conter{
    width: 87vw;
    height: 100vh;
    background: -webkit-linear-gradient(top,#053355,#024e66);
    background: -o-linear-gradient(top,#053355,#024e66);
    background: -moz-linear-gradient(top,#053355,#024e66);
    background: -mos-linear-gradient(top,#053355,#024e66);
    background: linear-gradient(top,#053355,#024e66);
    box-sizing: border-box;
    padding: 2vw;
}


#tc{
    width: 60vw;
    height: 78vh;
    background: url(/static/img/agriculture/specialistManagement/tcbj.png) no-repeat;
    background-size:100% 100%;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99999;
    color: #fff;
}
.tc-title{
    font-weight: normal;
    font-size: 2vw;
    line-height: 10vh;
    margin-left: 3vw;
}
.tc-int{
    display: flex;
}
.tc-int-l{
    width: 32vw;
    box-sizing: border-box;
    padding: 1vh 2vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.message{
    font-size: 1.2vw;
    margin-top: 2vh;
}
.informessage input{
    outline: none;
    background: transparent;
    border: none;
    color: #fff;
    border-bottom: solid #39aed1 2px;
    height: 4vh;
    line-height: 4vh;
    text-align: center;
}
.buddha{
    display: flex;
}
.buddha-border{
    width: 6vw;
    height: 6vw;
    padding: 1vw;
    border: 1px solid #0872b2;
    border-radius: 50%;
}
.buddha-pic{
    border-radius: 50%;
    overflow: hidden;
}
.papers{
    display: flex;
}
.papers-a{
    width: 12vw;
    height: 12vh;
    text-align: center;
    line-height: 12vh;
    margin-top: 3vh;
    border: 1px solid #94fcff;
    box-sizing: border-box;
    background: rgba(255,255,255,.1);
    border-radius: 10px;
}
#tc{
    display: none;
    transition: all 0.5s;
}
#dele{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 5vh;
    cursor: pointer;
}
.consult-l{width:40vw;display: flex;justify-content: flex-start;float: left;}
.consult-l-pic{width:3vw;height: 3vw;background: #ADFF2F;border-radius: 50%;margin-right: 0.5vw;}
.consult-l-txt{background: #FFFFFF;color: #999;padding: 1vw;line-height: 3.5vh;border-radius: 0.5vw;max-width: 30vw;box-sizing: border-box;word-break: break-all;}
.consult-r{width: 40vw;display: flex;justify-content:flex-end;float: right}
.consult-r-pic{width:3vw;height: 3vw;background: #ADFF2F;border-radius: 50%;margin-left: 0.5vw;}
.consult-r-txt{background: #FFFFFF;color: #999;padding: 1vw;line-height: 3.5vh;border-radius: 0.5vw;max-width: 30vw;box-sizing: border-box;word-break: break-all;}
textarea{outline: none;box-sizing: border-box;padding: 1vh 1vw;}
.import{position: absolute;bottom: 1vh;display: flex;}
.import-bnt{
    width: 8vw;
    height: 19vh;
    border-radius:0 10px 10px 0;
    text-align: center;
    line-height: 19vh;
    font-size: 1vw;
    cursor: pointer;
    background: -webkit-linear-gradient(top,#054b7f,#027288);
    background: -o-linear-gradient(top,#054b7f,#027288);
    background: -moz-linear-gradient(top,#054b7f,#027288);
    background: -mos-linear-gradient(top,#054b7f,#027288);
    background: linear-gradient(top,#054b7f,#027288);
}
.clearfix:after {
    content: ".";
    width: 0;
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
    overflow:hidden;
}