*{margin: 0;padding: 0;color: #fff;}
img{width: 100%;float: left;}
.conter{
    width: 100vw;
    height: 100vh;
    background: -webkit-linear-gradient(left,#053f67,#027187);
    background: -o-linear-gradient(left,#053f67,#027187);
    background: -moz-linear-gradient(left,#053f67,#027187);
    background: -mos-linear-gradient(left,#053f67,#027187);
    background: linear-gradient(left,#053f67,#027187);
    box-sizing: border-box;
    padding: 6vh 3vw;
}
.teacher{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.teacherbnt{
    width: 20vw;
    height:5vh;
    display: flex;
    line-height:5vh;
    justify-content: start;
    margin: 2vh 0;
}
.tbnt{
    width: 6vw;
    text-align: center;
    background: -webkit-linear-gradient(top,#053f67,#027187);
    background: -o-linear-gradient(top,#053f67,#027187);
    background: -moz-linear-gradient(top,#053f67,#027187);
    background: -mos-linear-gradient(top,#053f67,#027187);
    background: linear-gradient(top,#053f67,#027187);
    border-radius: 2vh;
    font-size: 12px;
    cursor: pointer;

}
.teacher-l{
    width: 40vw;
    display: flex;
    margin-bottom: 1.5vh;
}
.teacher-pic{
    width: 8vw;
    margin-right: 1vw;
}
.teacher-icon{
    display: flex;
}
.teacher-icon div{
    width: 1.6vw;
    margin: 5vh 0.5vw;
    cursor: pointer;
}
.teacher-int{
    font-size: 0.8vw;
    margin-right: 6vw;
}
.teacher-int h4{
    font-size: 1vw;
}
.teacher-int p{
    line-height: 3.5vh;
}
.page{
    position:fixed;
    bottom: 4vh;
    left: 50%;
    transform: translateX(-50%);
}
.page ul{
    display: flex;
}
li{
    list-style: none;
    padding: 0.5vh 0.8vw;
    margin: 0.4vh;
    cursor: pointer;
}
.ac{
    background: #027187;
}

#tc{
    width: 60vw;
    height: 78vh;
    background: url(/static/img/agriculture/specialistManagement/tcbj.png) no-repeat;
    background-size:100% 100%;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99999;
}
.tc-title{
    font-weight: normal;
    font-size: 2vw;
    line-height: 10vh;
    margin-left: 3vw;
}
.tc-int{
    display: flex;
}
.tc-int-l{
    width: 35vw;
    box-sizing: border-box;
    padding: 1vh 2vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.message{
    font-size: 1.2vw;
    margin-top: 2vh;
}
.informessage input{
    outline: none;
    background: transparent;
    border: none;
    color: #fff;
    border-bottom: solid #39aed1 2px;
    height: 4vh;
    line-height: 4vh;
    text-align: center;
}
.buddha{
    display: flex;
}
.buddha-border{
    width: 6vw;
    height: 6vw;
    padding: 1vw;
    border: 1px solid #0872b2;
    border-radius: 50%;
}
.buddha-pic{
    border-radius: 50%;
    overflow: hidden;
}
.papers{
    display: flex;
}
.papers-a{
    width: 12vw;
    height: 12vh;
    text-align: center;
    line-height: 12vh;
    margin-top: 3vh;
    border: 1px solid #94fcff;
    box-sizing: border-box;
    background: rgba(255,255,255,.1);
    border-radius: 10px;
    overflow: hidden;
}
#tc{
    display: none;
    transition: all 0.5s;
}
#dele{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 5vh;
    cursor: pointer;
}
#deletc,#deletcsh{
    width: 20vw;
    height: 20vh;
    background: #fff;
    position: fixed;
    top: 30vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99999;
    display: none;
}
.deletc-p{
    color: #0A0E11;
    line-height: 15vh;
    text-align: center;
}
.deletcbnt{
    width: 13vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
#deleyes,#deleno,#deleyessh,#delenosh{
    width: 5vw;
    height: 4vh;
    line-height: 4vh;
    background: #0d5bb0;
    transition: all 0.5s;
    text-align: center;
    cursor: pointer;
    font-size: 1vw;
}




#motai{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}
#diseasesNamebnt{
    width: 3vw;
    height: 5vh;
    background: #053960;
    border-left: 1px solid #fff;
    box-sizing: border-box;
    cursor: pointer;
}
#diseasesNamebnt img{
    transform: scale(0.6);
    margin-top: -0.8vh;

}
#swchit{
    display: flex;
    justify-content: space-between;
    width: 13vw;
    position: fixed;
    top: 2vh;
    right: 15vw;
    height: 5vh;
}
#diseasesName{
    width: 10vw;
    background: #053960;
    border: none;
    padding: 0 1vw;
    box-sizing: border-box;
    height: 5vh;
}
