<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}">
    <script th:src="@{/static/layui/layui.js}"></script>
    <script th:src="@{/static/jQuery/jquery-3.2.1.js}"></script>
</head>
<body>
<form class="layui-form" id="langForm" style="padding: 0 10px;">
    <div class="layui-form-item">
        <label class="layui-form-label">[[#{基础字段}]]</label>
        <div class="layui-input-block">
            <input type="text" name="code" th:value="${lang.code}" th:placeholder="#{请输入基础字段}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">[[#{中文}]]</label>
        <div class="layui-input-block">
            <input type="text" name="chinese" th:value="${lang.chinese}" th:placeholder="#{请输入中文}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">[[#{英文}]]</label>
        <div class="layui-input-block">
            <input type="text" name="english" th:value="${lang.english}" th:placeholder="#{请输入英文}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div style="text-align: center;">
            <button type="button" id="subminBtn" class="layui-btn">[[#{提交}]]</button>
            <button type="button" id="cancelBtn" class="layui-btn layui-btn-primary">[[#{取消}]]</button>
        </div>
    </div>
</form>

<script>
    $(function() {
        $("#cancelBtn").click(function(){
            parent.layer.closeAll();
        });

        $("#subminBtn").click(function () {
            $.ajax({
                type:"post",
                url:"/language/updateLanguage",
                data: $("#langForm").serialize(),
                success:function(data){
                    let result = JSON.parse(data);
                    if(result.state=="success"){
                        parent.layer.closeAll();
                        parent.layui.tableReload();
                    }else {
                        parent.layer.alert(result.msg);
                    }
                }
            });
        });
    });
</script>
</body>
</html>