<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>镇级管理</title><!--地段管理主页  李英豪-->
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../static/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
<table class="layui-hide" id="table" lay-filter="table"></table>
<script type="text/html" id="toolbar1">
    <div class="layui-inline bg-transparent" id="addTaskDiv">
        <button id="addLot" class="layui-btn layui-btn-primary layui-btn-radius"
                lay-event="addLot"> 新增乡镇
        </button>
    </div>
    <div class="layui-inline abc">
        <button class="layui-btn " lay-event="search">
            <i class="layui-icon layui-icon-search "></i>
        </button>
    </div>
    <div class="layui-inline abc">
        <input type="text" class="layui-input" name="lotName" id="lotName" autocomplete="off" style="width:182px;"
               placeholder="乡镇名称">
    </div>
</script>

<script type="text/html" id="barDemo">
    <button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="edit"><i
            class="layui-icon"></i></button>
    <button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="show"><i
            class="layui-icon layui-icon-search"></i></button>
    <button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="del"><i
            class="layui-icon"></i></button>
</script>
<script th:src="@{/static/js/jquery.min.js?v=2.1.4}"></script>
<script th:src="@{/static/layui/layui.js}" charset="utf-8"></script>
<script th:src="@{/static/js/jquery.nicescroll.js}" charset="utf-8"></script>
<script th:src="@{/static/i18n/jquery.i18n.properties.js}"></script>
<script th:src="@{/static/js/common.js}" charset="utf-8"></script>
<style>
    .abc {
        float: right;
    }

    body::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }

    .layui-table-tool .layui-inline {
        background-color: #eaeaea;
    }
</style>
</body>
</html>
<script>
    let table, form;
    layui.use('table', function () {
        let tableData = [
            {
                field: 'id', title: 'ID', width: 80, //fixed: 'left', unresize: true,
                sort: true
            },
            {field: 'lotName', title: "乡镇名称", align: 'center'},
            {field: 'createTime', title: "创建日期", align: 'center'},
            {
                field: '',
                title: $.i18n.prop('operation'),
                toolbar: '#barDemo',
                width: 220,
                align: 'center'
            }
        ];

        table = layui.table;
        form = layui.form;

        table.render({
            elem: '#table'
            , url: '/lot/getLotList'
            , toolbar: '#toolbar1'
            , title: ''
            , cols: [tableData]
            , page: true,
            request: {limitName: 'size'},
            response: {
                statusCode: 'success'
            },
            parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                return {
                    "code": res.state, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": res.datas,//解析数据列表

                };
                if ('success' != res.state) {
                    layer.msg($.i18n.prop(res.msg), {icon: 2})
                }
            }
        });

        //头工具栏事件
        table.on('toolbar(table)', function (obj) {
            switch (obj.event) {
                case 'search':
                    doLoginFilter();//登陆状态验证
                    let lotName = $('#lotName').val();
                    reloadTable(lotName);
                    break;
                case 'addLot':
                    layer.open({
                        type: 2,
                        title: false,
                        closeBtn: true,
                        area: ['700px', '450px'],
                        shade: 0.2,
                        id: 'LAY_addFarm',
                        btnAlign: 'c',
                        moveType: 1,
                        content: '../lot/addTown',
                    });
                    break;
            }
        });

        //监听行工具事件
        table.on('tool(table)', function (obj) {
            let data = obj.data;
            if (obj.event === 'edit') {
                layer.open({
                    type: 2,
                    title: false,
                    closeBtn: true,
                    area: ['750px', '500px'],
                    shade: 0.2,
                    id: 'LAY_onLineCtrl',
                    btnAlign: 'c',
                    moveType: 1,
                    content: '../lot/updateTown?id=' + data.id
                });
            } else if (obj.event === 'show') {
                layer.open({
                    type: 2,
                    title: false,
                    closeBtn: true,
                    area: ['750px', '500px'],
                    shade: 0.2,
                    id: 'LAY_onLineCtrl',
                    btnAlign: 'c',
                    moveType: 1,
                    content: '../lot/showLot?id=' + data.id
                });
            } else if (obj.event === 'del') {
                layer.confirm($.i18n.prop('confirmDelete'), {
                    btn: [$.i18n.prop('yes'), $.i18n.prop('no')],
                    title: $.i18n.prop('info')
                }, function (index) {
                    layer.load(2);
                    $.ajax({
                        url: "../lot/delLot",
                        data: {id: data.id},
                        dataType: "json",
                        type: "post",
                        timeout: 30000,
                        error: function (data, type, err) {
                            layer.closeAll('loading');
                            layer.msg($.i18n.prop('fail'), {
                                offset: '6px', icon: 2
                            });
                        },
                        success: function (data) {
                            layer.closeAll('loading');
                            if ('success' == data.state) {
                                reloadTable();
                                layer.msg($.i18n.prop(data.msg), {icon: 1})
                            } else {
                                layer.msg($.i18n.prop(data.msg), {icon: 2})
                            }
                        }
                    });
                });
            }
        });
    });

    function reloadTable(lotName) {
        table.reload('table', {
            page: {
                curr: 1 //重新从第 1 页开始
            }
            , where: {
                lotName: lotName
            }
        });
        $('#lotName').val(lotName);
    }
</script>