<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8" />
    <title>diagnoseResource-诊断资源库</title>
    <link rel="stylesheet" href="css/diagnoseResource.css">
    <link rel="stylesheet"  th:href="@{/static/css/agriculture/diagnoseResource.css}">

</head>
<body>
<div class="conter">
    <div style="height: 10vh;background: #053F67;width:100vw;position: fixed;top: 0;left: 0;display: flex;">
        <div class="buddha-border" style="border: none;">
            <div class="buddha-pic">
                <img src="/static/img/agriculture/specialistManagement/teacherpic.png" alt="">
            </div>
        </div>
        <p style="font-size: 0.8vw;line-height: 11.5vh;">鱼类</p>
    </div>
    <div class="teacher" style="margin-top: 6vh;">
        <div class="teacher-l">
            <div style="height: 10vh;display: flex;">
                <div class="buddha-border" style="border: none;">
                    <div class="buddha-pic">
                        <img src="/static/img/agriculture/specialistManagement/teacherpic.png" alt="">
                    </div>
                </div>
                <p style="font-size: 0.8vw;line-height: 11.5vh; ">寄生虫病</p>
            </div>
            <div class="bz">
                <div class="bz-list">
                    <div class="bz-txt">淀粉卵涡鞭虫病</div>
                    <div class="bz-dele"><img src="/static/img/agriculture/specialistManagement/dele.png" alt=""></div>
                    <div class="bz-chaxun"><img src="/static/img/agriculture/specialistManagement/chaxun.png" alt=""></div>
                </div>
                <div class="bz-list">
                    <div class="bz-txt">淀粉卵涡鞭虫病</div>
                    <div class="bz-dele"><img src="/static/img/agriculture/specialistManagement/dele.png" alt=""></div>
                    <div class="bz-chaxun"><img src="/static/img/agriculture/specialistManagement/chaxun.png" alt=""></div>
                </div>
                <div class="bz-list">
                    <div class="bz-txt">淀粉卵涡鞭虫病</div>
                    <div class="bz-dele"><img src="/static/img/agriculture/specialistManagement/dele.png" alt=""></div>
                    <div class="bz-chaxun"><img src="/static/img/agriculture/specialistManagement/chaxun.png" alt=""></div>
                </div>
                <div class="bz-list">
                    <div class="bz-txt">淀粉卵涡鞭虫病</div>
                    <div class="bz-dele"><img src="/static/img/agriculture/specialistManagement/dele.png" alt=""></div>
                    <div class="bz-chaxun"><img src="/static/img/agriculture/specialistManagement/chaxun.png" alt=""></div>
                </div>
                <div class="bz-list">
                    <div class="bz-txt">淀粉卵涡鞭虫病</div>
                    <div class="bz-dele"><img src="/static/img/agriculture/specialistManagement/dele.png" alt=""></div>
                    <div class="bz-chaxun"><img src="/static/img/agriculture/specialistManagement/chaxun.png" alt=""></div>
                </div>
                <div class="bz-list">
                    <div class="bz-txt">淀粉卵涡鞭虫病</div>
                    <div class="bz-dele"><img src="/static/img/agriculture/specialistManagement/dele.png" alt=""></div>
                    <div class="bz-chaxun"><img src="/static/img/agriculture/specialistManagement/chaxun.png" alt=""></div>
                </div>
                <div class="bz-list">
                    <div class="bz-txt">淀粉卵涡鞭虫病</div>
                    <div class="bz-dele"><img src="/static/img/agriculture/specialistManagement/dele.png" alt=""></div>
                    <div class="bz-chaxun"><img src="/static/img/agriculture/specialistManagement/chaxun.png" alt=""></div>
                </div>
                <div class="bz-list">
                    <div class="bz-txt">淀粉卵涡鞭虫病</div>
                    <div class="bz-dele"><img src="/static/img/agriculture/specialistManagement/dele.png" alt=""></div>
                    <div class="bz-chaxun"><img src="/static/img/agriculture/specialistManagement/chaxun.png" alt=""></div>
                </div>

            </div>
        </div>
        <div class="teacher-l">
            <div style="height: 10vh;display: flex;">
                <div class="buddha-border" style="border: none;">
                    <div class="buddha-pic">
                        <img src="/static/img/agriculture/specialistManagement/teacherpic.png" alt="">
                    </div>
                </div>
                <p style="font-size: 0.8vw;line-height: 11.5vh; ">寄生虫病</p>
            </div>
            <div class="bz">
                <div class="bz-list">
                    <div class="bz-txt">淀粉卵涡鞭虫病</div>
                    <div class="bz-dele"><img src="/static/img/agriculture/specialistManagement/dele.png" alt=""></div>
                    <div class="bz-chaxun"><img src="/static/img/agriculture/specialistManagement/chaxun.png" alt=""></div>
                </div>
                <div class="bz-list">
                    <div class="bz-txt">淀粉卵涡鞭虫病</div>
                    <div class="bz-dele"><img src="/static/img/agriculture/specialistManagement/dele.png" alt=""></div>
                    <div class="bz-chaxun"><img src="/static/img/agriculture/specialistManagement/chaxun.png" alt=""></div>
                </div>
                <div class="bz-list">
                    <div class="bz-txt">淀粉卵涡鞭虫病</div>
                    <div class="bz-dele"><img src="/static/img/agriculture/specialistManagement/dele.png" alt=""></div>
                    <div class="bz-chaxun"><img src="/static/img/agriculture/specialistManagement/chaxun.png" alt=""></div>
                </div>
                <div class="bz-list">
                    <div class="bz-txt">淀粉卵涡鞭虫病</div>
                    <div class="bz-dele"><img src="/static/img/agriculture/specialistManagement/dele.png" alt=""></div>
                    <div class="bz-chaxun"><img src="/static/img/agriculture/specialistManagement/chaxun.png" alt=""></div>
                </div>
                <div class="bz-list">
                    <div class="bz-txt">淀粉卵涡鞭虫病</div>
                    <div class="bz-dele"><img src="/static/img/agriculture/specialistManagement/dele.png" alt=""></div>
                    <div class="bz-chaxun"><img src="/static/img/agriculture/specialistManagement/chaxun.png" alt=""></div>
                </div>
                <div class="bz-list">
                    <div class="bz-txt">淀粉卵涡鞭虫病</div>
                    <div class="bz-dele"><img src="/static/img/agriculture/specialistManagement/dele.png" alt=""></div>
                    <div class="bz-chaxun"><img src="/static/img/agriculture/specialistManagement/chaxun.png" alt=""></div>
                </div>
                <div class="bz-list">
                    <div class="bz-txt">淀粉卵涡鞭虫病</div>
                    <div class="bz-dele"><img src="/static/img/agriculture/specialistManagement/dele.png" alt=""></div>
                    <div class="bz-chaxun"><img src="/static/img/agriculture/specialistManagement/chaxun.png" alt=""></div>
                </div>
                <div class="bz-list">
                    <div class="bz-txt">淀粉卵涡鞭虫病</div>
                    <div class="bz-dele"><img src="/static/img/agriculture/specialistManagement/dele.png" alt=""></div>
                    <div class="bz-chaxun"><img src="/static/img/agriculture/specialistManagement/chaxun.png" alt=""></div>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="tc"  class="">
    <h3 class="tc-title">

        <p>农作物</p>
    </h3>
    <div style="display: flex;width: 50vw;margin: 0 auto;border-bottom: 1px solid #027187;padding-bottom: 3vh;">
        <div style="width: 17vw;line-height: 12vh;">
            <p>病种：<span>病虫害</span></p>
        </div>
        <div style="width: 17vw;line-height: 12vh;">
            <p>病情：<span>白粉病</span></p>
        </div>
    </div>
    <div style="display: flex;width: 50vw;margin: 0 auto;border-bottom: 1px solid #027187;padding-bottom: 3vh;">
        <div style="width: 7vw;line-height: 12vh;">
            <p>添加照片：</p>
        </div>
        <div style="display: flex;">
            <div style="width: 8vw;margin-top: 3vh;margin-left: 3vw;">
                <img src="/static/img/agriculture/specialistManagement/teacherpic.png" >
            </div>
            <div style="width: 8vw;margin-top: 3vh;margin-left: 3vw;">
                <img src="/static/img/agriculture/specialistManagement/teacherpic.png" >
            </div>
        </div>

    </div>
    <div style="display: flex;width: 50vw;margin: 0 auto;border-bottom: 1px solid #027187;padding-bottom: 3vh;">
        <div style="width: 7vw;line-height: 12vh;">
            <p>专家回答：</p>
        </div>
        <div class="tc-int test test-1">
            <div style="text-align: left;">
                <p>
                    白粉病，自幼苗到抽穗均可发病。主要危害叶片，也危害茎和穗子。发病初期为白色病斑，而后颜色逐渐变为浅棕色，可通过自交或杂交形成黑色的子囊壳 [1]  。一般情况下部叶片比上部叶片多，叶片背面比正面多。霉斑早期单独分散，后联合成一个大霉斑，甚至可以覆盖全叶，严重影响光合作用，使正常新陈代谢受到干扰，造成早衰，产量受到损失。
                    白粉病，自幼苗到抽穗均可发病。主要危害叶片，也危害茎和穗子。发病初期为白色病斑，而后颜色逐渐变为浅棕色，可通过自交或杂交形成黑色的子囊壳 [1]  。一般情况下部叶片比上部叶片多，叶片背面比正面多。霉斑早期单独分散，后联合成一个大霉斑，甚至可以覆盖全叶，严重影响光合作用，使正常新陈代谢受到干扰，造成早衰，产量受到损失。
                </p>
            </div>
        </div>
    </div>




    <div id="dele"></div>
</div>
</body>
</html>
<script>
    var xiugai=document.getElementsByClassName('xiugai');
    var chaxun=document.getElementsByClassName('bz-chaxun');
    var tc=document.getElementById('tc');
    var dele=document.getElementById('dele');
    for(var i=0;i<chaxun.length;i++){

        chaxun[i].onclick=function(){
            tc.style.display='block'
        }
    }


    dele.onclick=function(){
        tc.style.display='none'
    }
</script>




