<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8" />
    <title>knowledgebase-知识库</title>
    <link rel="stylesheet"  th:href="@{/static/css/agriculture/knowledgebase.css}">
</head>
<body>
<div class="conter">
    <div class="teacher">
        <div class="teacher-l">
            <div class="teacher-pic"><img src="/static/img/agriculture/specialistManagement/teacherpic.png" alt=""></div>
            <div class="teacher-int">
                <p>台风“杨柳”携风雨远去 南方“苦夏”熬到头</p>
                <div style="display: flex; justify-content: space-between;">
                    <p>2019-09-02 08:10:10</p>
                    <p>张教授</p>
                </div>
            </div>
            <div class="teacher-icon">
                <div class="xiugai"><img src="/static/img/agriculture/specialistManagement/xiugai.png" alt=""></div>
                <div class="chaxun"><img src="/static/img/agriculture/specialistManagement/chaxun.png" alt=""></div>
                <div><img src="/static/img/agriculture/knowledgebase/dele.png" alt=""></div>
            </div>
        </div>
        <div class="teacher-l">
            <div class="teacher-pic"><img src="/static/img/agriculture/specialistManagement/teacherpic.png" alt=""></div>
            <div class="teacher-int">
                <p>台风“杨柳”携风雨远去 南方“苦夏”熬到头</p>
                <div style="display: flex; justify-content: space-between;">
                    <p>2019-09-02 08:10:10</p>
                    <p>张教授</p>
                </div>
            </div>
            <div class="teacher-icon">
                <div class="xiugai"><img src="/static/img/agriculture/specialistManagement/xiugai.png" alt=""></div>
                <div class="chaxun"><img src="/static/img/agriculture/specialistManagement/chaxun.png" alt=""></div>
                <div><img src="/static/img/agriculture/specialistManagement/dele.png" alt=""></div>
            </div>
        </div>
        <div class="teacher-l">
            <div class="teacher-pic"><img src="/static/img/agriculture/specialistManagement/teacherpic.png" alt=""></div>
            <div class="teacher-int">
                <p>台风“杨柳”携风雨远去 南方“苦夏”熬到头</p>
                <div style="display: flex; justify-content: space-between;">
                    <p>2019-09-02 08:10:10</p>
                    <p>张教授</p>
                </div>
            </div>
            <div class="teacher-icon">
                <div class="xiugai"><img src="/static/img/agriculture/specialistManagement/xiugai.png" alt=""></div>
                <div class="chaxun"><img src="/static/img/agriculture/specialistManagement/chaxun.png" alt=""></div>
                <div><img src="/static/img/agriculture/specialistManagement/dele.png" alt=""></div>
            </div>
        </div>
        <div class="teacher-l">
            <div class="teacher-pic"><img src="/static/img/agriculture/specialistManagement/teacherpic.png" alt=""></div>
            <div class="teacher-int">
                <p>台风“杨柳”携风雨远去 南方“苦夏”熬到头</p>
                <div style="display: flex; justify-content: space-between;">
                    <p>2019-09-02 08:10:10</p>
                    <p>张教授</p>
                </div>
            </div>
            <div class="teacher-icon">
                <div class="xiugai"><img src="/static/img/agriculture/specialistManagement/xiugai.png" alt=""></div>
                <div class="chaxun"><img src="/static/img/agriculture/specialistManagement/chaxun.png" alt=""></div>
                <div><img src="/static/img/agriculture/specialistManagement/dele.png" alt=""></div>
            </div>
        </div>
        <div class="teacher-l">
            <div class="teacher-pic"><img src="/static/img/agriculture/specialistManagement/teacherpic.png" alt=""></div>
            <div class="teacher-int">
                <p>台风“杨柳”携风雨远去 南方“苦夏”熬到头</p>
                <div style="display: flex; justify-content: space-between;">
                    <p>2019-09-02 08:10:10</p>
                    <p>张教授</p>
                </div>
            </div>
            <div class="teacher-icon">
                <div class="xiugai"><img src="/static/img/agriculture/specialistManagement/xiugai.png" alt=""></div>
                <div class="chaxun"><img src="/static/img/agriculture/specialistManagement/chaxun.png" alt=""></div>
                <div><img src="/static/img/agriculture/specialistManagement/dele.png" alt=""></div>
            </div>
        </div>
        <div class="teacher-l">
            <div class="teacher-pic"><img src="/static/img/agriculture/specialistManagement/teacherpic.png" alt=""></div>
            <div class="teacher-int">
                <p>台风“杨柳”携风雨远去 南方“苦夏”熬到头</p>
                <div style="display: flex; justify-content: space-between;">
                    <p>2019-09-02 08:10:10</p>
                    <p>张教授</p>
                </div>
            </div>
            <div class="teacher-icon">
                <div class="xiugai"><img src="/static/img/agriculture/specialistManagement/xiugai.png" alt=""></div>
                <div class="chaxun"><img src="/static/img/agriculture/specialistManagement/chaxun.png" alt=""></div>
                <div><img src="img/dele.png" alt=""></div>
            </div>
        </div>
        <div class="teacher-l">
            <div class="teacher-pic"><img src="/static/img/agriculture/specialistManagement/teacherpic.png" alt=""></div>
            <div class="teacher-int">
                <p>台风“杨柳”携风雨远去 南方“苦夏”熬到头</p>
                <div style="display: flex; justify-content: space-between;">
                    <p>2019-09-02 08:10:10</p>
                    <p>张教授</p>
                </div>
            </div>
            <div class="teacher-icon">
                <div class="xiugai"><img src="/static/img/agriculture/specialistManagement/xiugai.png" alt=""></div>
                <div class="chaxun"><img src="/static/img/agriculture/specialistManagement/chaxun.png" alt=""></div>
                <div><img src="img/dele.png" alt=""></div>
            </div>
        </div>
        <div class="teacher-l">
            <div class="teacher-pic"><img src="/static/img/agriculture/specialistManagement/teacherpic.png" alt=""></div>
            <div class="teacher-int">
                <p>台风“杨柳”携风雨远去 南方“苦夏”熬到头</p>
                <div style="display: flex; justify-content: space-between;">
                    <p>2019-09-02 08:10:10</p>
                    <p>张教授</p>
                </div>
            </div>
            <div class="teacher-icon">
                <div class="xiugai"><img src="/static/img/agriculture/specialistManagement/xiugai.png" alt=""></div>
                <div class="chaxun"><img src="/static/img/agriculture/specialistManagement/chaxun.png" alt=""></div>
                <div><img src="img/dele.png" alt=""></div>
            </div>
        </div>
    </div>
    <div class="page">
        <ul>
            <li>上一页</li>
            <li class="ac">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>下一页</li>
        </ul>
    </div>
</div>
<div id="tc"  class="">
    <h3 class="tc-title">
        <div class="buddha-border">
            <div class="buddha-pic">
                <img src="/static/img/agriculture/specialistManagement/teacherpic.png" alt="">
            </div>
        </div>
        <p>专家信息</p>
    </h3>
    <div class="tc-int test test-1">
        <h2>台风“杨柳”携风雨远去 南方“苦夏”熬到头</h2>
        <div>
            <p>2019-09-02   08：10：10            来源：张三三教授</p>
        </div>
        <div class="tc-int-txt">
            <p>
                今年第12号台风“杨柳”昨天（29日）下午擦过我国海南岛南部，给海南、广东、广西等地带来较强的风雨影响。不过，由于“杨柳”擦过海南岛之后迅速就奔了越南，因此今天开始对我国华南一带的风雨影响也已明显减弱。然而受其带来的风雨以及后面接踵而来的冷空气共同影响，未来一周，海南、广西、广东、福建、浙江和上海等地都将持续多雨，南方“苦夏”的日子即将结束。      “杨柳”虽去雨不停 冷空气助力南方“苦夏”结束         昨天白天到夜间，受台风“杨柳”影响，我国南海大部海域、西沙群岛、中沙群岛、南沙群岛、琼州海峡、北部湾以及广东西部沿海、广西南部沿海、海南岛沿海风雨明显，雨势猛烈，像是海南岛东南部、广东北部和西南部沿海、广西南部出现大到暴雨，海南保亭局地大暴雨。
                今年第12号台风“杨柳”昨天（29日）下午擦过我国海南岛南部，给海南、广东、广西等地带来较强的风雨影响。不过，由于“杨柳”擦过海南岛之后迅速就奔了越南，因此今天开始对我国华南一带的风雨影响也已明显减弱。然而受其带来的风雨以及后面接踵而来的冷空气共同影响，未来一周，海南、广西、广东、福建、浙江和上海等地都将持续多雨，南方“苦夏”的日子即将结束。      “杨柳”虽去雨不停 冷空气助力南方“苦夏”结束         昨天白天到夜间，受台风“杨柳”影响，我国南海大部海域、西沙群岛、中沙群岛、南沙群岛、琼州海峡、北部湾以及广东西部沿海、广西南部沿海、海南岛沿海风雨明显，雨势猛烈，像是海南岛东南部、广东北部和西南部沿海、广西南部出现大到暴雨，海南保亭局地大暴雨。
                今年第12号台风“杨柳”昨天（29日）下午擦过我国海南岛南部，给海南、广东、广西等地带来较强的风雨影响。不过，由于“杨柳”擦过海南岛之后迅速就奔了越南，因此今天开始对我国华南一带的风雨影响也已明显减弱。然而受其带来的风雨以及后面接踵而来的冷空气共同影响，未来一周，海南、广西、广东、福建、浙江和上海等地都将持续多雨，南方“苦夏”的日子即将结束。      “杨柳”虽去雨不停 冷空气助力南方“苦夏”结束         昨天白天到夜间，受台风“杨柳”影响，我国南海大部海域、西沙群岛、中沙群岛、南沙群岛、琼州海峡、北部湾以及广东西部沿海、广西南部沿海、海南岛沿海风雨明显，雨势猛烈，像是海南岛东南部、广东北部和西南部沿海、广西南部出现大到暴雨，海南保亭局地大暴雨。
                今年第12号台风“杨柳”昨天（29日）下午擦过我国海南岛南部，给海南、广东、广西等地带来较强的风雨影响。不过，由于“杨柳”擦过海南岛之后迅速就奔了越南，因此今天开始对我国华南一带的风雨影响也已明显减弱。然而受其带来的风雨以及后面接踵而来的冷空气共同影响，未来一周，海南、广西、广东、福建、浙江和上海等地都将持续多雨，南方“苦夏”的日子即将结束。      “杨柳”虽去雨不停 冷空气助力南方“苦夏”结束         昨天白天到夜间，受台风“杨柳”影响，我国南海大部海域、西沙群岛、中沙群岛、南沙群岛、琼州海峡、北部湾以及广东西部沿海、广西南部沿海、海南岛沿海风雨明显，雨势猛烈，像是海南岛东南部、广东北部和西南部沿海、广西南部出现大到暴雨，海南保亭局地大暴雨。
            </p>
        </div>
    </div>
    <div id="dele"></div>
</div>
</body>
</html>
<script>
    var xiugai=document.getElementsByClassName('xiugai');
    var chaxun=document.getElementsByClassName('chaxun');
    var tc=document.getElementById('tc');
    var dele=document.getElementById('dele');
    for(var i=0;i<xiugai.length;i++){
        xiugai[i].onclick=function(){
            tc.style.display='block'
        }
        chaxun[i].onclick=function(){
            tc.style.display='block'
        }
    }


    dele.onclick=function(){
        tc.style.display='none'
    }
</script>
