<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8" />
    <title>leaveparoleSystem-留言系统</title>
    <link rel="stylesheet"  th:href="@{/static/css/agriculture/leaveparoleSystem.css}">
</head>
<body>
<div class="conter">
    <div style="height: 10vh;background: #053F67;width:100vw;position: fixed;top: 0;left: 0;display: flex;">
        <div class="buddha-border" style="border: none;">
            <div class="buddha-pic">
                <img src="/static/img/agriculture/specialistManagement/teacherpic.png" alt="">
            </div>
        </div>
        <p style="font-size: 0.8vw;line-height: 11.5vh;">张三教授</p>
    </div>
    <div class="teacher" style="margin-top: 6vh;">
        <div class="teacher-l">
            <div class="teacher-pic"><img src="/static/img/agriculture/specialistManagement/teacherpic.png" alt=""></div>
            <div class="teacher-int">
                <p>张教授您好，我想问下最近我种植的葡萄，叶子发黄、根茎部位有限些开裂，是什么原因造成的？怎么解决？</p>
                <div style="display: flex; justify-content: space-between;">
                    <p>2019-09-02 08:10:10</p>
                </div>
            </div>
            <div class="tiweb">农户李斯</div>
            <div class="teacher-icon">
                <div class="chaxun"><img src="/static/img/agriculture/specialistManagement/chaxun.png" alt=""></div>
            </div>
        </div>
        <div class="teacher-l">
            <div class="teacher-pic"><img src="/static/img/agriculture/specialistManagement/teacherpic.png" alt=""></div>
            <div class="teacher-int">
                <p>张教授您好，我想问下最近我种植的葡萄，叶子发黄、根茎部位有限些开裂，是什么原因造成的？怎么解决？</p>
                <div style="display: flex; justify-content: space-between;">
                    <p>2019-09-02 08:10:10</p>
                </div>
            </div>
            <div class="tiweb">农户李斯</div>
            <div class="teacher-icon">
                <div class="chaxun"><img src="/static/img/agriculture/specialistManagement/chaxun.png" alt=""></div>
            </div>
        </div>
        <div class="teacher-l">
            <div class="teacher-pic"><img src="/static/img/agriculture/specialistManagement/teacherpic.png" alt=""></div>
            <div class="teacher-int">
                <p>张教授您好，我想问下最近我种植的葡萄，叶子发黄、根茎部位有限些开裂，是什么原因造成的？怎么解决？</p>
                <div style="display: flex; justify-content: space-between;">
                    <p>2019-09-02 08:10:10</p>
                </div>
            </div>
            <div class="tiweb">农户李斯</div>
            <div class="teacher-icon">
                <div class="chaxun"><img src="/static/img/agriculture/specialistManagement/chaxun.png" alt=""></div>
            </div>
        </div>

    </div>
    <div class="page">
        <ul>
            <li>上一页</li>
            <li class="ac">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>下一页</li>
        </ul>
    </div>
</div>
<div id="tc"  class="">
    <h3 class="tc-title">
        <div class="buddha-border">
            <div class="buddha-pic">
                <img src="/static/img/agriculture/specialistManagement/teacherpic.png" alt="">
            </div>
        </div>
        <p>用户李斯</p>
    </h3>
    <div style="display: flex;width: 50vw;margin: 0 auto;border-bottom: 1px solid #027187;padding-bottom: 3vh;">
        <div style="width: 7vw;line-height: 12vh;">
            <p>病情描述：</p>
        </div>
        <div class="tc-int test test-1">
            <div style="text-align: left;">
                <p>
                    张教授您好，我想问下最近我种植的葡萄，叶子发黄、根茎部位会有些开裂，是什么原因造成的？怎么解决？
                    张教授您好，我想问下最近我种植的葡萄，叶子发黄、根茎部位会有些开裂，是什么原因造成的？怎么解决？
                    张教授您好，我想问下最近我种植的葡萄，叶子发黄、根茎部位会有些开裂，是什么原因造成的？怎么解决？
                    张教授您好，我想问下最近我种植的葡萄，叶子发黄、根茎部位会有些开裂，是什么原因造成的？怎么解决？
                    张教授您好，我想问下最近我种植的葡萄，叶子发黄、根茎部位会有些开裂，是什么原因造成的？怎么解决？
                    张教授您好，我想问下最近我种植的葡萄，叶子发黄、根茎部位会有些开裂，是什么原因造成的？怎么解决？
                    张教授您好，我想问下最近我种植的葡萄，叶子发黄、根茎部位会有些开裂，是什么原因造成的？怎么解决？
                    张教授您好，我想问下最近我种植的葡萄，叶子发黄、根茎部位会有些开裂，是什么原因造成的？怎么解决？
                    张教授您好，我想问下最近我种植的葡萄，叶子发黄、根茎部位会有些开裂，是什么原因造成的？怎么解决？
                    张教授您好，我想问下最近我种植的葡萄，叶子发黄、根茎部位会有些开裂，是什么原因造成的？怎么解决？
                </p>
            </div>
        </div>
    </div>
    <div style="display: flex;width: 50vw;margin: 0 auto;border-bottom: 1px solid #027187;padding-bottom: 3vh;">
        <div style="width: 7vw;line-height: 12vh;">
            <p>添加照片：</p>
        </div>
        <div style="width: 8vw;margin-top: 3vh;">
            <img src="/static/img/agriculture/specialistManagement/teacherpic.png" >
        </div>
    </div>
    <div style="display: flex;width: 50vw;margin: 0 auto;border-bottom: 1px solid #027187;padding-bottom: 3vh;">
        <div style="width: 7vw;line-height: 12vh;">
            <p>专家回答：</p>
        </div>
        <div class="tc-int test test-1">
            <div style="text-align: left;">
                <p>
                    在种植葡萄时，很多人会发现，为什么种的葡萄这么容易裂开？事实上，许多生果都有开裂征象，如葡萄柚，葡萄，石榴等。种种生果开裂的原因是不一样的。平时你们有没有遇到过这种问题呢？遇到这种问题后不要着急，分析好原因后对症下药，才是关键。
                </p>
            </div>
        </div>
    </div>




    <div id="dele"></div>
</div>
</body>
</html>
<script>
    var xiugai=document.getElementsByClassName('xiugai');
    var chaxun=document.getElementsByClassName('chaxun');
    var tc=document.getElementById('tc');
    var dele=document.getElementById('dele');
    for(var i=0;i<chaxun.length;i++){

        chaxun[i].onclick=function(){
            tc.style.display='block'
        }
    }


    dele.onclick=function(){
        tc.style.display='none'
    }
</script>




