<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8" />
    <title>specialistManagement-专家管理</title>
    <link rel="stylesheet"  th:href="@{/static/css/agriculture/specialistManagement.css}">
</head>
<body>
<div class="conter">
    <div class="teacher">
        <div class="teacher-l">
            <div class="teacher-pic"><img src="/static/img/agriculture/specialistManagement/teacherpic.png" alt=""></div>
            <div class="teacher-int">
                <h4>张三</h4>
                <p>博士、教授、研究生导师</p>
                <p>擅长：虫病防护、无土栽培</p>
                <p>2019-09-02 08:10:10</p>
            </div>
            <div class="teacher-icon">
                <div class="xiugai"><img src="/static/img/agriculture/specialistManagement/xiugai.png" alt=""></div>
                <div><img src="/static/img/agriculture/specialistManagement/dele.png" alt=""></div>
                <div class="chaxun"><img src="/static/img/agriculture/spiecalistManagement/chaxun.png" alt=""></div>
                <div><img src="/static/img/agriculture/specialistManagement/zhuangtai.png" alt=""></div>
            </div>
        </div>
        <div class="teacher-l">
            <div class="teacher-pic"><img src="/static/img/agriculture/specialistManagement/teacherpic.png" alt=""></div>
            <div class="teacher-int">
                <h4>张三</h4>
                <p>博士、教授、研究生导师</p>
                <p>擅长：虫病防护、无土栽培</p>
                <p>2019-09-02 08:10:10</p>
            </div>
            <div class="teacher-icon">
                <div class="xiugai"><img src="/static/img/agriculture/specialistManagement/xiugai.png" alt=""></div>
                <div><img src="/static/img/agriculture/specialistManagement/dele.png" alt=""></div>
                <div class="chaxun"><img src="/static/img/agriculture/specialistManagement/chaxun.png" alt=""></div>
                <div><img src="/static/img/agriculture/specialistManagement/zhuangtai.png" alt=""></div>
            </div>
        </div>
        <div class="teacher-l">
            <div class="teacher-pic"><img src="/static/img/agriculture/specialistManagement/teacherpic.png" alt=""></div>
            <div class="teacher-int">
                <h4>张三</h4>
                <p>博士、教授、研究生导师</p>
                <p>擅长：虫病防护、无土栽培</p>
                <p>2019-09-02 08:10:10</p>
            </div>
            <div class="teacher-icon">
                <div class="xiugai"><img src="/static/img/agriculture/specialistManagement/xiugai.png" alt=""></div>
                <div><img src="/static/img/agriculture/specialistManagement/dele.png" alt=""></div>
                <div class="chaxun"><img src="/static/img/agriculture/specialistManagement/chaxun.png" alt=""></div>
                <div><img src="/static/img/agriculture/specialistManagement/zhuangtai.png" alt=""></div>
            </div>
        </div>
        <div class="teacher-l">
            <div class="teacher-pic"><img src="/static/img/agriculture/specialistManagement/teacherpic.png" alt=""></div>
            <div class="teacher-int">
                <h4>张三</h4>
                <p>博士、教授、研究生导师</p>
                <p>擅长：虫病防护、无土栽培</p>
                <p>2019-09-02 08:10:10</p>
            </div>
            <div class="teacher-icon">
                <div class="xiugai"><img src="/static/img/agriculture/specialistManagement/xiugai.png" alt=""></div>
                <div><img src="/static/img/agriculture/specialistManagement/dele.png" alt=""></div>
                <div class="chaxun"><img src="/static/img/agriculture/specialistManagement/chaxun.png" alt=""></div>
                <div><img src="/static/img/agriculture/specialistManagement/zhuangtai.png" alt=""></div>
            </div>
        </div>
    </div>
    <div class="page">
        <ul>
            <li>上一页</li>
            <li class="ac">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>下一页</li>
        </ul>
    </div>
</div>
<div id="tc">
    <h3 class="tc-title">专家信息</h3>
    <div class="tc-int">
        <div class="tc-int-l">
            <div class="message">
                <p>姓名：</p>
                <div class="informessage">
                    <input type="text" id="" value="" placeholder="请输入姓名"/>
                </div>
            </div>
            <div class="message">
                <p>昵称：</p>
                <div class="informessage">
                    <input type="text" id="" value="" placeholder="请输入昵称"/>
                </div>
            </div>
            <div class="message">
                <p>身份证号码：</p>
                <div class="informessage">
                    <input type="text" id="" value="" placeholder="请输入身份证号码"/>
                </div>
            </div>
            <div class="message">
                <p>擅长：</p>
                <div class="informessage">
                    <input type="text" id="" value="" placeholder="请输入擅长"/>
                </div>
            </div>
            <div class="message">
                <p>工作单位：</p>
                <div class="informessage">
                    <input type="text" id="" value="" placeholder="请输入工作单位"/>
                </div>
            </div>
            <div class="message">
                <p>职务：</p>
                <div class="informessage">
                    <input type="text" id="" value="" placeholder="请输入职务"/>
                </div>
            </div>
            <div class="message">
                <p>手机号码：</p>
                <div class="informessage">
                    <input type="text" id="" value="" placeholder="请输入手机号码"/>
                </div>
            </div>
            <div class="message">
                <p>最高学历：</p>
                <div class="informessage">
                    <input type="text" id="" value="" placeholder="请输入最高学历"/>
                </div>
            </div>
            <div class="message">
                <p>个人简介：</p>
                <div class="informessage">
					<textarea style="width: 28vw;height: 15vh;margin-top: 2vh;background: transparent;border-color: #31a9ce;box-sizing: border-box;padding: 1vh 1vw;overflow: hidden;resize:none;">
					</textarea>
                </div>
            </div>
        </div>
        <div class="tc-int-r">
            <div class="buddha">
                <div>上传头像：</div>
                <div class="buddha-border">
                    <div class="buddha-pic">
                        <img src="/static/img/agriculture/specialistManagement/teacherpic.png" alt="">
                    </div>
                </div>
            </div>
            <div class="papers">
                <div>上传证件照：</div>
                <div class="papers-pic">
                    <div class="papers-a">
                        身份证正面
                    </div>
                    <div class="papers-a">
                        身份证反面
                    </div>
                    <div class="papers-a">
                        资质证书
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="dele"></div>
</div>
</body>
</html>
<script>
    var xiugai=document.getElementsByClassName('xiugai');
    var chaxun=document.getElementsByClassName('chaxun');
    var tc=document.getElementById('tc');
    var dele=document.getElementById('dele');
    for(var i=0;i<xiugai.length;i++){
        xiugai[i].onclick=function(){
            tc.style.display='block'
        }
        chaxun[i].onclick=function(){
            tc.style.display='block'
        }
    }


    dele.onclick=function(){
        tc.style.display='none'
    }
</script>




