<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Traceability-system溯源系统</title>
    <link rel="stylesheet" href="/static/css/traceability/public.css">
    <link rel="stylesheet" href="/static/css/traceability/index.css">
</head>
<body>

<div class="index-bg">
    <div class="index-search">
        <input type="text" id="productCode" class="index-search-txt" placeholder="输入产品编码进行溯源"/>
        <div class="index-search-bnt">
            <img src="/static/img/aquaculture/traceability/index-search-bnt_04.jpg" alt="">
        </div>
    </div>
</div>
</body>
<script th:src="@{/static/js/jquery.min.js?v=2.1.4}"></script>
<script th:src="@{/static/layui/layui.js}" charset="utf-8"></script>
<script>
    layui.use('layer', function () {
        var layer = layui.layer;
        $(".index-search-bnt").click(function () {

            var productCode = $("#productCode").val();
            //判断是否存在产品
            $.ajax({
                url:"/traceSource/isExist",
                data: {productCode: productCode},
                dataType: "json",
                type: "post",
                timeout: 30000,
                success: function (data) {
                    layer.closeAll('loading');
                    if (data.state=='success') {
                        window.location.href = "/traceSource/getTraceSource?productCode=" + productCode;
                        // $('.tableReload .layui-form-item .layui-btn').click()
                    }else{
                        layer.msg("您输入的编码有误");
                    }
                }
            });

        });
    });
</script>
</html>
