<!DOCTYPE html>
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加轮播图片</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
</head>

<body>
<input type="hidden" id="deleteAllImgValue" value="1" />
<div style="margin: 40px;" class="layui-form layui-form-pane">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;"><legend>添加轮播展示图片</legend></fieldset>
    <div class="layui-upload">
        <button type="button" class="layui-btn" id="test3">上传图片</button>
        <span style="margin-left: 50px; color: red" id="alertTitle"></span>
        <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
            预览图：
            <div class="layui-upload-list" id="demo3"></div>
        </blockquote>
    </div>
    <div class="layui-form-item" style="margin-left: -103px;margin-top: 50px">
        <div class="layui-input-block"><button class="layui-btn layui-btn-normal" onclick="submitImgUrl('addBannerImg', 'addBannerImg')">完成添加</button></div>
    </div>
</div>
</body>
<script type="text/javascript" src="/static/js/jquery.min.js?v=2.1.4"></script>
<script src="/static/layui/layui.js" charset="UTF-8"></script>
<script src="/static/js/traceability/process.js" charset="UTF-8"></script>
</html>