<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>基本信息的修改</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
</head>

<body>
<div style="margin: 40px;" class="layui-form layui-form-pane">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
        <legend>绑定设备信息</legend>
    </fieldset>
    <div class="layui-inline" style="margin: 5px">
        <label class="layui-form-label">继电器编号</label>
        <div class="layui-input-inline" style="width: 317px">
            <input type="text" id="RelayNumber" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-inline" style="margin: 5px">
        <label class="layui-form-label">摄像头编号</label>
        <div class="layui-input-inline" style="width: 317px">
            <input type="text" id="CameraNumber" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-inline" style="margin: 5px">
        <label class="layui-form-label">经纬度</label>
        <div class="layui-input-inline" style="width: 317px">
            <input type="text" lay-verify="required" id="Position" name="cameraNumber" autocomplete="off"
                   class="layui-input" value="0.0,0.0" disabled="disabled" placeholder="点击右侧按钮选取地址">
            <img src="/static/img/location_icon.png" onclick="selectPoint()"
                 style="height: 33px ;margin-left: 323px; margin-top: -56px;}">
        </div>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
        <legend>添加基本信息</legend>
    </fieldset>
    <div class="layui-inline">
        <label class="layui-form-label">产品编号</label>
        <div class="layui-input-inline" style="width: 317px">
            <input type="text" id="ProductCode" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-inline" style="margin: 5px">
        <label class="layui-form-label">产品名称</label>
        <div class="layui-input-inline" style="width: 317px">
            <input type="text" id="Name" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-inline" style="width: 317px">
            <input type="text" id="Title" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-inline" style="margin: 5px">
        <label class="layui-form-label">成熟时间</label>
        <div class="layui-input-block" style="width: 317px">
            <input type="text" id="MaturityTime" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">养殖面积</label>
        <div class="layui-input-inline" style="width: 317px">
            <input type="text" id="AquacultureArea" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-inline" style="margin: 5px">
        <label class="layui-form-label">产量</label>
        <div class="layui-input-inline" style="width: 317px">
            <input type="text" id="Yield" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">产地</label>
        <div class="layui-input-inline" style="width: 317px">
            <input type="text" id="PlaceOfOrigin" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-form-text" style="margin-top: 5px">
        <label class="layui-form-label">产品简介</label>
        <div class="layui-input-block">
            <textarea id="Message" placeholder="请输入内容" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item" style="margin-left: -103px">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" id="save">保存修改</button>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/static/js/jquery.min.js?v=1.0.1"></script>
<script src="/static/layui/layui.js?v=1.0.1" charset="UTF-8"></script>
<script src="/static/layui/layui.all.js?v=1.0.1" charset="UTF-8"></script>
<script src="/static/i18n/jquery.i18n.properties.js?v=1.0.1"></script>
<script src="/static/js/common.js?v=1.0.1" charset="utf-8"></script>
<script type="text/javascript">
    layui.use('laydate', function () {
        var laydate = layui.laydate;
        laydate.render({
            elem: '#MaturityTime',
        });
    });
    $.ajax({
        cache: "true",
        data: "id=" + parent.getId(),
        url: "/newTraceSource/getTraceSourceMessageForId",
        success: function (data) {
            $("#RelayNumber").val(data.data.relayNumber);
            $("#CameraNumber").val(data.data.cameraNumber);
            $("#Position").val(data.data.position);
            $("#ProductCode").val(data.data.productCode);
            $("#Name").val(data.data.name);
            $("#Title").val(data.data.title);
            var s = data.data.maturityTime;
            $("#MaturityTime").val(s.substring(0, 11));
            $("#AquacultureArea").val(data.data.aquacultureArea);
            $("#Yield").val(data.data.yield);
            $("#PlaceOfOrigin").val(data.data.placeOfOrigin);
            $("#Message").val(data.data.message);
        }
    });
    //保存
    $("#save").click(function () {
        var id = parent.getId();
        var relayNumber = $("#RelayNumber").val();
        var cameraNumber = $("#CameraNumber").val();
        var position = $("#Position").val();
        var productCode = $("#ProductCode").val();
        var name = $("#Name").val();
        var title = $("#Title").val();
        var maturityTime = $("#MaturityTime").val();
        var aquacultureArea = $("#AquacultureArea").val();
        var yield = $("#Yield").val();
        var placeOfOrigin = $("#PlaceOfOrigin").val();
        var message = $("#Message").val();
        $.ajax({
            type: "post",
            cache: "true",
            url: "/newTraceSource/updataTraceSourceBasicMessage",
            data: {
                id: id,
                relayNumber: relayNumber,
                cameraNumber: cameraNumber,
                position: position,
                productCode: productCode,
                name: name,
                title: title,
                productTime: maturityTime,
                aquacultureArea: aquacultureArea,
                yield: yield,
                placeOfOrigin: placeOfOrigin,
                message: message
            },
            success: function (data) {
                if (data.state == "success") {
                    layer.msg("修改成功");
                    setTimeout(function () {
                        window.location.reload();
                    }, 500);
                }
            }
        });
    });

    function selectPoint() {
        var content = "../selectPoint"
        var positionValue = $('#Position').val();
        if (positionValue != '' && positionValue != null && positionValue != "0.0,0.0") {
            let location = positionValue.split(',');
            content += "?longitude=" + location[0] + "&latitude=" + location[1];
        }
        layer.open({
            type: 2,
            title: false,
            closeBtn: false,
            area: ['600px', '400px'],
            shade: 0.2,
            id: 'LAY_layuipro',
            btn: [$.i18n.prop('yes'), $.i18n.prop('no')],
            btnAlign: 'c',
            moveType: 1,
            content: content,
            yes: function () {
                var iframeWin = $("div.layui-layer-content > iframe")[0].contentWindow;//得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                position = iframeWin.getPoint();//调用子页面的form_submit函数
                $('#Position').val(position);
                layer.closeAll();
            }
        });
    }
</script>
</html>