<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>组态应用</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link class="styles" rel="stylesheet" href="/static/css/indexCss/indexsubject1.css">
    <link rel="stylesheet" href="../static/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="css/common.css">
</head>
<body>

<table class="layui-hide" id="table" lay-filter="table"></table>
<script type="text/html" id="toolbar1">
    <div class="layui-inline bg-transparent">
        <button id="addTrigger" class="layui-btn layui-btn-primary layui-btn-radius"
                lay-event="addTrigger"> 添加组态
        </button>
    </div>
    <div class="layui-inline abc">
        <button class="layui-btn " lay-event="search">
            <i class="layui-icon layui-icon-search "></i>
        </button>
    </div>
    <div class="layui-inline abc">
        <input type="text" class="layui-input" name="aCode" id="aCode" autocomplete="off"  style="width:182px;"
               placeholder="节点编号">
    </div>
</script>


<script type="text/html" id="barDemo">

    <button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="edit"><i
        class="layui-icon"></i></button>
    <button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="del"><i
        class="layui-icon"></i></button>
</script>
<script type="text/html" id="statusTpl">
    <input id="status" type="checkbox" name="continuing" value="{{d.id}}" lay-skin="switch"
           lay-filter="status" {{ d.state== 1 ?'checked' : '' }}>
</script>
<!--<script type="text/html" id="onLine">-->
<!--{{#  if(d.state == 1){ }}-->
<!--<span class="online">报警</span>-->
<!--{{#  }else{ }}-->
<!--<span class="offline">正常</span>-->
<!--{{#  } }}-->
<!--</script>-->

<script th:src="@{/static/js/jquery.min.js?v=2.1.4}"></script>
<script th:src="@{/static/layui/layui.js}" charset="utf-8"></script>
<script th:src="@{/static/js/jquery.nicescroll.js}" charset="utf-8"></script>
<script th:src="@{/static/i18n/jquery.i18n.properties.js}"></script>
<script th:src="@{/static/js/common.js}" charset="utf-8"></script>
<script th:src="@{/static/js/condition/conditionList.js}" charset="utf-8"></script>
<!--<script>
    var table, form;
    layui.use('table', function () {
        var tableData = [
            {
                field: 'id',
                title: 'ID',
                width: 60,
                // fixed: 'left',
                unresize: true,
                sort: true, align: 'center'
            }, {
                field: 'name', title: $.i18n.prop('name'), width: 140, align: 'center'
            }, {field: 'sensorCode', title: $.i18n.prop('nodeNumber'), width: 140, align: 'center'}
            , {field: 'expression', title: $.i18n.prop('expression'), width: 90, align: 'center'}
            , {field: 'value', title: $.i18n.prop('value'), width: 140, align: 'center'}
            , {
                field: '',
                title: $.i18n.prop('state'),
                width: 90,
                align: 'center',
                toolbar: '#statusTpl'
            }
            , {
                field: '',
                title: $.i18n.prop('operation'),
                toolbar: '#barDemo',
                minWidth: 20,
                align: 'center'
            }
        ];
        table = layui.table, form = layui.form;
        table.render({
            elem: '#table'
            , url: '../conditionConfig/conditionConfigList'
            , toolbar: '#toolbar1'
            , title: ''
            , cols: [tableData]
            , page: true
            // limitName: 'page',
            // height: 600,

        });
        $('#aCode').attr('placeholder', $.i18n.prop('nodeNumber'));
        $('#addTrigger').text($.i18n.prop('addCondition'));
        //头工具栏事件
        table.on('toolbar(table)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'detail':
                    break;
                case 'search':
                    doLoginFilter();//登陆状态验证
                    var aCode = $('#aCode').val();
                    reloadDeviceList(aCode);
                    break;
                case 'addTrigger':
                    var win = layer.open({
                        type: 2,
                        area: ['360px', '170px'],
                        title: $.i18n.prop('addCondition'),
                        // maxmin: true,
                        //btn: ['确定', '取消'],
                        btnAlign: 'c',
                        yes: function (index, layero) {
                            //表单提交
                            /*  var body = layer.getChildFrame('body', index);
                              body.find('form').submit();
                              layer.close(index);
  */
                        },
                        anim: 3,
                        content: '../conditionConfig/getCondition',
                        success: function (layero, index) {
                            /* var body = layer.getChildFrame('body', index);
                             body.find('input[name="pId"]').val(0);
                             body.find("input[name='flag']").val('add');*/

                        }
                    });
                    layer.full(win);
                    break;
            }
        });

        //监听行工具事件
        table.on('tool(table)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                //layer.msg($.i18n.prop('notSupported'));
                var win = layer.open({
                    type: 2,
                    //area: ['800px', '500px'],
                    title: $.i18n.prop('conditionApp'),
                    anim: 3,
                    content: '../conditionConfig/getCondition?id=' + data.id,
                    success: function (layero, index) {
                        console.log(index);
                    }
                });
                layer.full(win);
                //} else if (obj.event === 'show') {
                // parent.jumpDashboard(data.deviceNumber);
            } else if (obj.event === 'del') {
                layer.confirm($.i18n.prop('confirmDelete'), {
                    btn: [$.i18n.prop('yes'), $.i18n.prop('no')],
                    title: $.i18n.prop('info')
                }, function (index) {
                    layer.load(2);
                    $.ajax({
                        url: "conditionConfig/delCondition",
                        data: {id: obj.data.id},
                        dataType: "json",
                        type: "post",
                        timeout: 30000,
                        error: function (data, type, err) {
                            console.log(err);
                            layer.closeAll('loading');
                            layer.msg($.i18n.prop('fail'), {
                                offset: '6px', icon: 2
                            });
                        },
                        success: function (data) {
                            layer.closeAll('loading');
                            if (true == data.success) {
                                $('.layui-laypage-btn').click();
                                layer.msg($.i18n.prop(data.msg), {icon: 1})
                            } else {
                                layer.msg($.i18n.prop(data.msg), {icon: 2})
                            }
                        }
                    });
                });
            }
        });

        //监听switch操作
        form.on('switch(status)', function (obj) {

            // layer.tips(this.value + ' ' + this.name + '：' + obj.elem.checked, obj.othis);
            var state = 0;
            if (obj.elem.checked) {
                state = 1;
            }
            $.ajax({
                url: "../conditionConfig/updateState",
                data: {id: this.value, state: state},
                dataType: "json",
                type: "post",
                timeout: 30000,
                error: function (data, type, err) {
                    console.log(err);
                    layer.closeAll('loading');
                    layer.msg($.i18n.prop('fail'), {
                        offset: '6px'
                    });
                    $('.layui-laypage-btn').click();
                },
                success: function (data) {
                    layer.closeAll('loading');
                    layer.msg(data.msg);
                    if (!data.success) {
                        $('.layui-laypage-btn').click();
                        // $('.tableReload .layui-form-item .layui-btn').click()
                    }
                }
            });
        });
    });

    function reloadDeviceList(aCode) {
        table.reload('table', {
            page: {
                curr: 1 //重新从第 1 页开始
            }
            , where: {
                sensorCode: aCode
            }
        });
        $('#aCode').attr('placeholder', $.i18n.prop('nodeNumber'));
        $('#addTrigger').text($.i18n.prop('addCondition'));

        $('#aCode').val(aCode);

    }

    function onReceive(type, data) {
        if (type == 'addTriggerSuccess') {
            reloadDeviceList('');
        }
    }
</script>-->
<style>
    .abc {
        float: right;
    }

    body::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }

    .layui-table-tool .layui-inline {
        background-color: #eaeaea;
    }

    .online {
        color: #ffff00;
    }

    .offline {
        color: #458B74;
    }
</style>
</body>
</html>