<!DOCTYPE html><html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../static/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../css/base.css" media="all">
    <link rel="stylesheet" href="../css/user.css" media="all">
    <style>
        .u-item span {
            color: #000;!important;
        }
    </style>
</head>
<body>
<div>
    <div class="u-item m50">
        <img src="../img/password_old_icon.png">
        <span id="oldpwd">旧密码：</span>
        <input type="text" lay-verify="required" name="oldPassword" id="oldPassword"
               autocomplete="off" maxlength="20" placeholder="请输入旧密码"
               onfocus="this.type='password'"
               class="layui-input">
    </div>
    <div class="u-item">
        <img src="../img/password_new_icon.png">
        <span id="newpwd0">新密码：</span>
        <input type="text" name="newPasswordO" lay-verify="required" id="newPasswordO"
               autocomplete="no" maxlength="20"
               onfocus="this.type='password'"
               class="layui-input" placeholder="请输入新密码">
    </div>
    <div class="u-item">
        <img src="../img/password_new_icon.png">
        <span id="newpwd1">新密码：</span>
        <input type="text" lay-verify="required" name="newPasswordT" id="newPasswordT"
               autocomplete="off" maxlength="20"
               onfocus="this.type='password'"
               class="layui-input" placeholder="请输入新密码">
    </div>
    <div class="u-item">
        <button class="btn-primary" lay-submit="" id="save"
                lay-filter="submit">确&nbsp;认
        </button>
    </div>
</div>
</body>

<script src="/static/js/jquery.min.js?v=2.1.4"></script>
<script src="/static/layui/layui.js" charset="utf-8"></script>
<script th:src="@{/static/i18n/jquery.i18n.properties.js}"></script>
<script th:src="@{/static/js/common.js}" charset="utf-8"></script>
<script>
    //设置语言
    $('#oldpwd').text($.i18n.prop('oldPassword')+':');
    $('#oldPassword').attr('placeholder',$.i18n.prop('oldPasswordDesc'));
    $('#newpwd0').text($.i18n.prop('newPassword')+':');
    $('#newPasswordO').attr('placeholder',$.i18n.prop('newPasswordDesc'));
    $('#newpwd1').text($.i18n.prop('newPassword')+':');
    $('#newPasswordT').attr('placeholder',$.i18n.prop('newPasswordDesc'));
    $('#save').text($.i18n.prop('yes'));

    layui.use(['layer', 'form'], function () {
        var layer = layui.layer;
        $("#save").click(function () {
            console.log('c')
            var old = $('input[name="oldPassword"]').val();
            var new1 = $('input[name="newPasswordO"]').val();
            var new2 = $('input[name="newPasswordT"]').val();
            if (old == null || old == '') {
                layer.msg($.i18n.prop('oldPasswordDesc'))
                return
            }
            if (new1 == null || new1 == '') {
                layer.msg($.i18n.prop('newPasswordDesc'))
                return
            }
            if (new2 == null || new2 == '') {
                layer.msg($.i18n.prop('confirmNewPassword'))
                return
            }
            if (new1 !== new2) {
                layer.msg($.i18n.prop('inconsistentPassword'))
                return
            }
            if (new1.length < 6) {
                layer.msg($.i18n.prop('validPwdLength'))
                return
            }
            layer.load(2);
            $.ajax({
                type: "post",
                url: "../user/modifyPassword",
                timeout: 30000,
                data: {
                    oldPassword: old,
                    newPassword: new1,
                }, error: function (data, type, err) {
                    console.log(err);
                    layer.closeAll('loading');
                    layer.msg($.i18n.prop('fail'), {
                        offset: '6px'
                    });
                },
                success: function (data) {
                    layer.closeAll('loading');
                    if (data.state == 'success') {
                        layer.msg($.i18n.prop('success'), {icon: 1});
                        setTimeout(function () {
                          parent.checkLoginState();
                        },2000)
                    } else {
                        layer.msg($.i18n.prop(data.msg));
                    }
                }

            });
        });
    });


</script>
</html>