input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    /*box-shadow: 0 0 0 1000px #1a3848 inset;*/
    /*-webkit-text-fill-color: #fff;*/
    -webkit-transition-delay: 99999s;
    -webkit-transition: color 99999s ease-out, background-color 99999s ease-out;
}

