<!DOCTYPE html><html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link class="styles" rel="stylesheet" href="/static/css/indexCss/indexsubject1.css">
    <link rel="stylesheet" href="../static/layui/css/layui.css" media="all">
</head>
<body>
<form class="layui-form" action="../groupManage/submitGroup" >
    <input type="hidden" id="pId" name = "pId" th:value="*{data.pId}">
    <input type="hidden" id="flag" name = "flag" >
    <input type="hidden"  name = "id"  th:value="*{data.id}" >
    <div class="layui-form-item" style="margin-top:15px">
        <label id="label" class="layui-form-label">分组名称</label>
        <div class="layui-input-inline">
            <input type="text" name="groupName" lay-verify="title" th:value="*{data.groupName}" autocomplete="off"  class="layui-input" style="width: 200px">
        </div>
    </div>
</form>
</body>

<script th:src="@{/static/js/jquery.min.js?v=2.1.4}"></script>
<script th:src="@{/static/layui/layui.js}"  charset="utf-8"></script>
<script th:src="@{/static/i18n/jquery.i18n.properties.js}"></script>
<script th:src="@{/static/js/common.js}" charset="utf-8"></script>
<script>
    document.onkeydown = function(e){
        var ev =document.all ? window.event : e;
        if(ev.keyCode==13) {//禁用浏览器的enter事件
            //$('#loginBtn').trigger("click");
            return false;
        }
    }
    $('#label').text($.i18n.prop('groupName'));

</script>
</html>