.main-l{
    float: left;
    width: 52%;
    height: 86vh;
    background: url(/static/img/monitor/restroomESB/restroomESB-bg1.png) no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    padding: 2% 2%;
}
.main-l H2{
    font-weight: normal;
    font-size: 20px;
    color: #fff;
    line-height: 65px;
    text-align: left;
    float: left;
}
select{
    background: #fff;
    border: none;
    padding: 5px 12px;
    outline: none;
    float: right;
    margin-top: 12px;

}
option{
    background: rgba(255,255,255,.5);
}


.main-r{
    float: right;
    width: 46%;
    height: 80vh;
}
.main-r-top{
    width: 98%;
    height: 42vh;
    box-sizing: border-box;
    background: url(/static/img/monitor/restroomESB/restroomESB-bg3.png)no-repeat;
    background-size:100% 100%;
    margin: 0 auto;
}
.main-r-top h2{
    font-weight: normal;
    font-size: 20px;
    color: #fff;
    line-height: 65px;
    text-align: center;

}
.main-r-mod{
    width: 100%;
    height: 43vh;
    margin-top: 1vh;
    background: url(/static/img/monitor/restroomESB/restroomESB-bg3.png) no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    padding: 1%;
}
.main-r-mod h2{
    font-weight: normal;
    font-size: 20px;
    color: #fff;
    line-height: 45px;
    text-align: center;
}
.main-r-mod ul{
    width: 80%;
    margin: 0 auto;
}
.main-r-mod ul li{
    float: left;
    width: 46%;
    margin: 1%;
    height: 9vh;
    background: rgba(35,35,121,0.7);
    box-shadow:inset 0px 0px 10px 1px #1918a4;
    color: #fff;
    box-sizing: border-box;
    padding: 1.5%;
}
.main-r-mod ul li h5{
    color: #00dbe3;
}
.main-r-mod ul li:nth-child(1){
    border-radius: 15px 15px 0 15px;
}
.main-r-mod ul li:nth-child(2){
    border-radius: 15px 15px 15px 0;
}
.main-r-mod ul li:nth-child(3){
    border-radius: 15px 0 0 15px;
}
.main-r-mod ul li:nth-child(4){
    border-radius: 0 15px 15px 0;
}
.main-r-mod ul li:nth-child(5){
    border-radius: 15px 0 15px 15px;
}
.main-r-mod ul li:nth-child(6){
    border-radius:0 15px 15px 15px;
}
.li-pic{
    float: left;
    width: 25%;
    margin-left: 5%;
}
.li-pic img{
    width: 100%;
}
.li-txt{
    float: right;
    text-align: right;
    margin-right: 4%;
}
.li-txt p{
    font-size: 12px;
}
.li-txt h5{
    font-size: 20px;
    line-height: 6vh;
}

